.delay-btn {
	position: relative;
	overflow: hidden;
	.click-progress-bar {
		top: 0;
		left: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.2);
		position: absolute;
		overflow: hidden;
		&:before {
			content: '';
			position: absolute;
			left: 100%;
			width: 20px;
			top: 0;
			bottom: 0;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
		}
	}
	.confirm-text {
		position: absolute;
		top: -10px;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease;
	}
	.btn-text {
		top: 0;
		position: relative;
		transition: all 0.3s ease;
	}
	.btn-text-container {
		position: relative;
		z-index: 10;
	}
	&.animating {
		.confirm-text {
			visibility: visible;
			opacity: 1;
			top: 0;
		}
		.btn-text {
			opacity: 0;
			visibility: hidden;
			top: 10px;
		}
	}
}