<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3>
					<span translate="{{formData.txt + '.title'}}"></span>
				</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form ng-if="formData" class="add-form" name="addform"
						ng-class="{'loading': formState.formSubmitSend}"
						ng-submit="addform.$valid && submit()" novalidate>

					<div class="row" ng-if="dependencies">
						<div ng-repeat="dependency in dependencies track by $index"
								class="col-sm-6 col-md-5 col-lg-4">
							<ng-form name="dependencyField">
								<div class="form-group"
										ng-class="{'has-error': (formState.formSubmited && dependencyField.dependencyId.$error.required),
										'has-success': (formState.formSubmited && dependencyField.dependencyId.$valid)}">
									<label class="control-label"
											translate="{{dependency.txt + '.title'}}"></label>
									<select class="form-control"
											ng-options="depEntity.id as depEntity.name for depEntity in dependency.dependencyEntities"
											ng-model="dependency.id" name="dependencyId" required>
										<option selected value=""
												translate="{{dependency.txt + '.optionLabel'}}"></option>
									</select>

									<div class="alert alert-danger" role="alert"
											ng-show="formState.formSubmited && dependencyField.dependencyId.$error.required"
											translate="ssTest.errors.required"></div>
								</div>
							</ng-form>
						</div>
					</div>

					<div class="row form-group"
							ng-class="{'has-error':(formState.formSubmited && addform.entityName.$error.required),
										'has-success': (formState.formSubmited && addform.entityName.$valid)}">
						<div class="col-sm-8 col-md-6 col-lg-5"
								ng-class="{'col-sm-6 col-md-5 col-lg-4': dependencies}">
							<label class="control-label"
									translate="{{formData.txt + '.label'}}"></label> <input type="text"
								class="form-control" value="" name="entityName"
								ng-model="formData.name" required/>

							<div class="alert alert-danger" role="alert"
									ng-show="formState.formSubmited && addform.entityName.$error.required"
									translate="ssTest.errors.required"></div>
						</div>
					</div>

					<div class="row" ng-if="additions">
						<div ng-repeat="addition in additions track by $index"
								class="col-sm-8 col-md-6 col-lg-5">
							<ng-form name="additionField">
								<div class="form-group"
										ng-class="{'has-error':(formState.formSubmited && additionField.additionInput.$error.required),
										'has-success': (formState.formSubmited && additionField.additionInput.$valid)}">
									<label class="control-label" translate="{{addition.txt + '.title'}}"></label>
									<input ng-if="!addition.additionArea" type="text"
											class="form-control" ng-model="addition.id"
											name="additionInput" required/>
									<textarea ng-if="addition.additionArea" class="form-control"
											ng-model="addition.id" name="additionInput"
											required></textarea>

									<div class="alert alert-danger" role="alert"
											ng-show="formState.formSubmited && additionField.additionInput.$error.required"
											translate="ssTest.errors.required"></div>
								</div>
							</ng-form>
						</div>
					</div>

					<button type="submit" ng-click="formState.formSubmited = true"
							class="btn btn-primary"
							ng-disabled="(formState.formSubmited && addform.entityName.$invalid) || formState.formSubmitSend"
							translate="{{resetOnSucces ? 'ssTest.controls.add' : 'ssTest.controls.save'}}"></button>
				</form>
			</div>
		</div>
	</div>
</section>