<div class="container-fluid" ng-controller="ScheduleCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<i class="glyphicon glyphicon-list"></i>
			<span translate="ssTest.components.testSchedule.title"
					translate-values="{name: additionTitle}"></span>
			</h3>
			<hr class="line">
		</div>
	</div>
	<div ng-if="!loaded" class="entity loading">
		<span>Триває завантаження...</span>
	</div>
	<div class="emptyEntity" ng-if="empty">
		<span>Немає записів</span>
		<button class="btn btn-primary"
				ui-sref="admin.addSchedule({id: subjectId})">
			<span class="glyphicon glyphicon-circle-arrow-up"></span>
			<span translate="ssTest.components.testSchedule.addButton"></span>
		</button>
	</div>
	<div class="panel table-wrapper" ng-if="!empty && loaded">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-12">
					<form class="form-inline">

						<button class="btn btn-primary"
								ui-sref="admin.addSchedule({id: subjectId})">
							<span class="glyphicon glyphicon-circle-arrow-up"></span>
							<span translate="ssTest.components.testSchedule.addButton"></span>
						</button>

					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<entity-table
						table-head="timetableHead"
						table-body="timetables"
						table-options="timetableOptions"
						></entity-table>
			</div>
		</div>
	</div>
</div>