<form name="widgetForm" class="add-form" ng-class="{'loading': formState.formSubmitSend}"
		ng-submit="widgetForm.$valid && isValid(widget) && save()" novalidate>

	<div class="modal-header">
		<h3 class="modal-title" translate="{{'ssTest.components.installWidget.title' + (update ? 'Edit' : '')}}"></h3>
	</div>

	<div class="modal-body">
		<div class="form-group">
			<label class="control-label" translate="ssTest.components.installWidget.widgetName"></label>
			<input type="text" class="form-control" ng-model="widget.data.name" />
		</div>
		<div class="form-group" ng-class="{'has-error':(formState.formSubmited && widgetForm.groupsList.$valid)}">
			<label class="control-label" translate="ssTest.components.installWidget.groups"></label>
			<ui-select multiple ng-model="widget.data.groupId" theme="bootstrap" name="groupsList" required>
				<ui-select-match placeholder="{{'ssTest.components.installWidget.selectGroups' | translate}}">{{$item.group_name}}</ui-select-match>
				<ui-select-choices repeat="group.group_id as group in groups | filter:$select.search">
					{{group.group_name}}
				</ui-select-choices>
			</ui-select>
			<div class="alert alert-danger" role="alert"
					ng-show="formState.formSubmited && widgetForm.groupsList.$error.required"
					translate="ssTest.errors.required"></div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="submit" ng-click="send()" class="btn btn-primary"
				ng-disabled="(formState.formSubmited && widgetForm.$invalid) || formState.formSubmitSend"
				translate="{{update ? 'ssTest.controls.save' : 'ssTest.controls.add'}}"></button>
		<button type="button" class="btn btn-default" ng-click="cancel()"
				translate="ssTest.controls.cancel"></button>
	</div>
</form>