<div class="widget-title" translate="{{widgetData.name || 'ssTest.components.installWidget.groups'}}"></div>
<div class="widget-content" ng-class="{'loading': !loaded}">
	<div class="list-group widget-list">
		<a ng-if="group" ui-sref="admin.students({id: group.group_id})" class="list-group-item widget-item widget-groups-item"
				ng-repeat="group in groups track by $index"> <span class="badge">{{group.countStudents}}</span>
			<span class="list-group-item-heading item-title">{{group.group_name}}</span> </a>
	</div>
</div>