<div class="container-fluid" ng-controller="AddUserCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<i class='glyphicon glyphicon-education'></i>
				<span translate="ssTest.components.students.registerStudent"
						translate-values="{name: additionTitle}"></span>
			</h3>
			<hr>
		</div>
	</div>
	<div class="row admin-register">
		<form name="registerUser" method="post" enctype="multipart/form-data"
				ng-submit="regUser(registerUser.$valid)" novalidate>
			<div class="col-sm-8 col-md-6 col-lg-5">
				<div class="form-group" ng-class="{'admin-error': (formSubmit && registerUser.userName.$error.required)
							|| (formSubmit && registerUser.userName.$error.minlength)}">
					<label for="user-name" class="admin-label"> <span
							title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addAdmin.setLogin"></span> </label>

					<div class="input-group">
						<input type="text" name="userName" id="user-name"
								class="form-control admin-input"
								placeholder="{{ 'ssTest.components.addAdmin.placeholders.login' | translate }}"
								ng-model="userName" aria-describedby="basic-addon1" ng-minlength="4"
								required autofocus>
						<span class="input-group-addon admin-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-user"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerUser.userName.$error.required"></div>
					<div class="alert admin-alert" translate="ssTest.errors.notEnoughChars"
							ng-show="formSubmit && registerUser.userName.$error.minlength"></div>
				</div>
				<div class="form-group" ng-class="{'admin-error': (formSubmit && registerUser.userEmail.$error.required)
						|| (formSubmit && registerUser.userEmail.$error.email)}">
					<label for="user-email" class="admin-label"> <span
							title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addAdmin.setEmail"></span> </label>

					<div class="input-group">
						<input type="email" name="userEmail" id="user-email"
								class="form-control admin-input"
								placeholder="{{ 'ssTest.components.addAdmin.placeholders.email' | translate }}"
								ng-model="userEmail" aria-describedby="basic-addon2" required>
						<span class="input-group-addon admin-addon" id="basic-addon2">
							<span class="glyphicon glyphicon-envelope"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerUser.userEmail.$error.required"></div>
					<div class="alert admin-alert" translate="ssTest.errors.invalidEmail"
							ng-show="formSubmit && registerUser.userEmail.$error.email"></div>
				</div>
				<div class="form-group" ng-class="{'admin-error': (formSubmit && registerUser.userPswd.$error.required)
						|| (formSubmit && registerUser.userPswd.$error.minlength)}">
					<label for="user-pswd" class="admin-label"> <span
							title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addAdmin.setPassword"></span> </label>

					<div class="input-group">
						<input type="password" name="userPswd" id="user-pswd"
								class="form-control admin-input"
								placeholder="{{ 'ssTest.components.addAdmin.placeholders.password' | translate }}"
								ng-model="userPswd" aria-describedby="basic-addon3" ng-minlength="4"
								required>
						<span class="input-group-addon admin-addon" id="basic-addon3">
							<span class="glyphicon glyphicon-lock"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerUser.userPswd.$error.required"></div>
					<div class="alert admin-alert" translate="ssTest.errors.notEnoughChars"
							ng-show="formSubmit && registerUser.userPswd.$error.minlength"></div>
					<div class="alert admin-alert" ng-cloak ng-class="strengthClass"
							ng-show="registerUser.userPswd.$valid" translate="{{ strength }}"></div>
				</div>
				<div class="form-group" ng-class="{'admin-error': (formSubmit && registerUser.userPswdConfirm.$error.required)
							|| (formSubmit && registerUser.userPswdConfirm.$error.minlength)}">
					<label for="user-pswd-confirm" class="admin-label"> <span
							title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addAdmin.repeatPassword"></span> </label>

					<div class="input-group">
						<input type="password" name="userPswdConfirm" id="user-pswd-confirm"
								class="form-control admin-input" ng-model="userPswdConfirm"
								placeholder="{{ 'ssTest.components.addAdmin.placeholders.password' | translate }}"
								aria-describedby="basic-addon4" ng-minlength="4" required>
						<span class="input-group-addon admin-addon" id="basic-addon4">
							<span class="glyphicon glyphicon-lock"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerUser.userPswdConfirm.$error.required"></div>
					<div class="alert admin-alert" translate="ssTest.errors.notEnoughChars"
							ng-show="formSubmit && registerUser.userPswdConfirm.$error.minlength"></div>
					<div class="alert admin-alert" translate="ssTest.errors.repeatPswd" ng-show="wrong && !(formSubmit && (registerUser.userPswdConfirm.$error.required
								|| registerUser.userPswdConfirm.$error.minlength))"></div>
					<div class="alert admin-alert" ng-cloak ng-class="strengthConfirmClass"
							ng-show="registerUser.userPswdConfirm.$valid && !wrong"
							translate="{{ strengthConfirm }}"></div>
				</div>
				<div class="form-group" ng-class="{'admin-error': (formSubmit && registerUser.userSurname.$error.required)
							|| (formSubmit && registerUser.userSurname.$error.minlength)}">
					<label for="user-surname" class="admin-label"> <span
							title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addUser.setSurname"></span> </label>

					<div class="input-group">
						<input type="text" name="userSurname" id="user-surname"
								class="form-control admin-input"
								placeholder="{{ 'ssTest.components.addUser.placeholders.surname' | translate }}"
								ng-model="userSurname" aria-describedby="basic-addon5"
								ng-minlength="4" required>
						<span class="input-group-addon admin-addon" id="basic-addon5">
							<span class="glyphicon glyphicon-font"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerUser.userSurname.$error.required"></div>
					<div class="alert admin-alert" translate="ssTest.errors.notEnoughChars"
							ng-show="formSubmit && registerUser.userSurname.$error.minlength"></div>
				</div>
				<div class="form-group" ng-class="{'admin-error': (formSubmit && registerUser.userFirstname.$error.required)
							|| (formSubmit && registerUser.userFirstname.$error.minlength)}">
					<label for="user-firstname" class="admin-label"> <span
							title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addUser.setName"></span> </label>

					<div class="input-group">
						<input type="text" name="userFirstname" id="user-firstname"
								class="form-control admin-input"
								placeholder="{{ 'ssTest.components.addUser.placeholders.name' | translate }}"
								ng-model="userFirstname" aria-describedby="basic-addon6"
								ng-minlength="4" required>
						<span class="input-group-addon admin-addon" id="basic-addon6">
							<span class="glyphicon glyphicon-font"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerUser.userFirstname.$error.required"></div>
					<div class="alert admin-alert" translate="ssTest.errors.notEnoughChars"
							ng-show="formSubmit && registerUser.userFirstname.$error.minlength"></div>
				</div>
				<div class="form-group" ng-class="{'admin-error': (formSubmit && registerUser.userMiddlename.$error.required)
							|| (formSubmit && registerUser.userMiddlename.$error.minlength)}">
					<label for="user-middlename" class="admin-label"> <span
							title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addUser.setMiddlename"></span> </label>

					<div class="input-group">
						<input type="text" name="userMiddlename" id="user-middlename"
								class="form-control admin-input"
								placeholder="{{ 'ssTest.components.addUser.placeholders.middlename' | translate }}"
								ng-model="userMiddlename" aria-describedby="basic-addon7"
								ng-minlength="4" required>
						<span class="input-group-addon admin-addon" id="basic-addon7">
							<span class="glyphicon glyphicon-font"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerUser.userMiddlename.$error.required"></div>
					<div class="alert admin-alert" translate="ssTest.errors.notEnoughChars"
							ng-show="formSubmit && registerUser.userMiddlename.$error.minlength"></div>
				</div>
				<div class="form-group admin-last"
						ng-class="{'admin-error': formSubmit && registerUser.userGradebook.$error.required}">
					<label for="user-grade" class="admin-label"> <span
							title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addUser.setNumGradebook"></span> </label>

					<div class="input-group">
						<input type="text" name="userGradebook" id="user-grade"
								class="form-control admin-input"
								placeholder="{{ 'ssTest.components.addUser.placeholders.gradebook' | translate }}"
								ng-model="userGradebook" aria-describedby="basic-addon8" required>
						<span class="input-group-addon admin-addon" id="basic-addon8">
							<span class="glyphicon glyphicon-book"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerUser.userGradebook.$error.required"></div>
				</div>
				<div class="form-group buttons">
					<button type="submit" class="btn admin-submit">
						<span class="glyphicon glyphicon-plus"></span> <span
							translate="ssTest.controls.register"></span>
					</button>
					<button type="reset" delay-btn="4000" on-click="reset()"
							confirm-txt="ssTest.controls.indeed" class="btn admin-reset">
						<span class="glyphicon glyphicon-refresh"></span> <span>{{"ssTest.controls.reset" | translate}}</span>
					</button>
				</div>
			</div>
			<div class="col-sm-8 col-md-6 col-lg-5">
				<div class="form-group">
				<label for="user-grade" class="admin-label"> <span
						title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
					<span translate="ssTest.components.addUser.addPhoto"></span> </label>
				<div>
					<input type="file" class="btn admin-load" id="fileInput"/>
				</div>
				<div ng-if="myImage">
					<div class="crop-area">
						<img-crop  image="myImage" result-image="imgData.myCroppedImage"
								result-image-size="298" area-type="square"></img-crop></div>
					<div><img class="crop-area-result" ng-src="{{imgData.myCroppedImage}}"/></div>
				</div>
			</div>
			</div>
		</form>
	</div>
</div>
