<div class="userComponent" ng-controller="FinishTestCtrl">
	<div ng-if="!activeResult">
		{{'ssTest.components.tPlayer.noResults' |
		translate}}
		<button ng-click="$state.go('user.home')" class="btn btn-primary"
				translate="ssTest.controls.close">
		</button>
	</div>

	<div class="container-fluid" ng-show="activeResult">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body">
						{{'ssTest.components.tPlayer.resultOfTest' |
						translate}}{{result.pValue}}%
					</div>
				</div>
			</div>
		</div>


		<div class="row">
				<pie-chart ng-if="chartData" data="chartData"></pie-chart>
		</div>

		<button ng-click="$state.go('user.home')" class="btn btn-primary"
				translate="ssTest.controls.close">
		</button>
	</div>
</div>