$sidebar-color-background: rgb(21, 96, 170);
$sidebar-color-text: #fff;
$sidebar-block-hover: #267ed5;
$tp-background: #eee;
$tp-basecolor: #4885b5;

$tp-active-question: rgba(38, 126, 213, .9);
$tp-mark-question: #ff9800;

.tp {
	height: 100%;

	.answer-body {
		font-weight: 400;
		font-size: 1.2em;
		width: 100%;
		border: 1px solid rgba($tp-basecolor, .2);
	}

	input[type='radio'],input[type='checkbox'] {
		margin: 10px;
	}

	input[type='checkbox']:checked {
		.answer-body {
			background: red;
		}
	}

	.btn-finish {
		margin: 10px;
	}

	.test-ready-to-finish {
		animation-name: button-animation;
		animation-duration: 2s;
		color: white;
		animation-iteration-count: infinite;

	}

	@keyframes button-animation {
		0%   {background-color:white; color: black;}
		50%  {background-color:$tp-basecolor; color: white;}
		100%  {background-color:white; color: black;}
	}

	.checkbox-container {
		display: block;
		margin: 5px 0;
		padding: 10px 0;
		border: 1px solid rgba(0, 0, 0, .1);
		font-weight: 400;

		&:hover {
			cursor: pointer;
			background: rgba(100, 100, 100, .1);
		}

	}
	.tp-image-question {
		max-width: 600px;
		max-height: 300px;
	}
	.tp-image-answer {
		text-align: center;
		display: block;
		margin: 10px auto;
		max-width: 600px;
		max-height: 100px;
	}
}

.inform-block-area {
	width: 148px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.inform-header {
	background: $tp-basecolor;
	color: #fff;
	padding: 5px 0 5px 15px;
}

.question-body {
	margin: 10px 0;
	padding: 10px 5px;
	text-align: center;
	font-size: 1.2em;
}

.progbar {
	box-shadow: 0 5px 10px rgba(38, 126, 213, .1);
	margin-bottom: 15px;
}

.question-area {
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	.question {
		font-size: 1.1em;
	}
}

.qb-cell {
	display: inline-block;
	position: relative;
	width: 35px;
	height: 35px;
	margin: 1px;
	line-height: 35px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, .1);

	&:hover {
		border: 1px solid black;
		cursor: pointer;
	}
}

.qb-cell-done {
	transition: 300ms;
	background: rgba(38, 126, 213, .5);
	color: #fff;
}

.qb-cell-active {
	color: #fff;
	background: rgba(38, 126, 213, .9);

}

.qb-cell-mark {
	font-weight: bold;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 25px;
		display: block;
		width: 8px;
		height: 8px;
		background: $tp-mark-question;
	}
}