<div ng-controller="tpCtrl" class="tp">
	<div ng-if="!showBody">
		{{'ssTest.components.tPlayer.noActiveTests' | translate}}
	</div>
	<div ng-show="showBody">
		<div class="progbar">
			<tp-progressbar value="{{progressBarValue}}"></tp-progressbar>
		</div>

		<div class="container-fluid tp" ng-cloak>
			<div class="row">
				<div class="col-md-2">
					<div class="inform-block-area">
						<div class="inform-header">
							{{'ssTest.components.tPlayer.navigator' |
							translate}}
						</div>
						<div class="qb-row"
								ng-repeat="row in rows track by $index">
							<div class="qb-cell noselect"
									ng-repeat="q in row track by $index"
									ng-click="getQuestion(q-1)" ng-class="{'qb-cell-done': qBank[q-1].answered,
								'qb-cell-mark': qBank[q-1].marked,
							'qb-cell-active': q === currentQuestion + 1}">
								{{q}}
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-8">
					<div class="question-area">
						<div class="inform-header">
							{{'ssTest.components.tPlayer.question' | translate}}
							{{currentQuestion + 1}},
							{{'ssTest.components.tPlayer.level' | translate}}
							{{question.level}}
						</div>
						<div class="question-body noselect">
							{{question.question_text | decode}}
							<div ng-if="question.attachment">
								<img class="tp-image-question"
										ng-src="{{question.attachment}}">
							</div>
						</div>
					</div>

					<form name="answerForm" class="noselect"
							ng-submit="answerToQuestion()">
						<div>
							<div ng-show="question.type === questionsTypes.simple"
									ng-repeat="answer in question.answers track by $index">
								<div>
									<label class="answer-body"> <input
											type="radio"
											ng-model="$parent.sAnswer"
											value="{{answer.answer_id}}">
										{{$index + 1 + '.
										'}}{{answer.answer_text | decode}}

										<img ng-if="answer.attachment.length > 15"
												class="tp-image-answer"
												ng-src={{answer.attachment}}>
									</label>
								</div>
							</div>
							<div ng-show="question.type === questionsTypes.multiple">
								<label class="answer-body"
										ng-repeat="answer in question.answers track by $index"
										for="{{answer.answer_id}}"> <input
										type="checkbox"
										ng-checked="checked(answer.answer_id)"
										ng-click="toggleAnswers(answer.answer_id)"
										id="{{answer.answer_id}}"> {{$index + 1
									+ '. '}} {{answer.answer_text | decode}}
									<img ng-if="answer.attachment.length > 15"
											class="tp-image-answer"
											ng-src={{answer.attachment}}>
								</label>
							</div>
						</div>
						<div class="control-area">
							<button class="btn btn-primary" type="submit"
									ng-disabled="!sAnswer && question.mAnswers.length === 0"
									translate="ssTest.components.tPlayer.answerTheQuestion"></button>

							<button class="btn btn-default" type="button"
									ng-click="markQuestion()">
							<span ng-if="question.marked">{{"ssTest.components.tPlayer.markQuestion" | translate}}</span>
							<span ng-if="!question.marked">{{"ssTest.components.tPlayer.UnMarkQuestion" | translate}}</span>

							</button>
						</div>
					</form>
				</div>
				<div class="col-md-2">
					<div class="inform-block-area">

						<div class="inform-header">
							<span ng-bind="m + ':' + sec"></span>
						</div>

						<div>
							<button class="btn btn-default btn-finish testReadyToFinish"
									ng-class="{'test-ready-to-finish': testReadyToFinish}"
									ng-click="finishTest()"
									translate="ssTest.components.tPlayer.finishTest"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>