<div class="container-fluid" ng-controller="RegisterAdminCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<i class='glyphicon glyphicon-king'></i>
				<span ng-if="!editing" translate="ssTest.components.addAdmin.title"></span>
				<span ng-if="editing" translate="ssTest.components.addAdmin.editTitle"></span>
			</h3>
			<hr>
		</div>
	</div>
	<div class="row admin-register">
		<div class="col-sm-7 col-md-6 col-lg-5">
			<form name="registerAdmin" ng-submit="register(registerAdmin.$valid)" novalidate>
				<div class="form-group"
						ng-class="{'admin-error': (formSubmit && registerAdmin.adminName.$error.required)
							|| (formSubmit && registerAdmin.adminName.$error.minlength)}">
					<label for="admin-name" class="admin-label">
						<span title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addAdmin.setLogin"></span>
					</label>
					<div class="input-group">
						<input type="text" name="adminName" id="admin-name" class="form-control admin-input"
								placeholder="{{ 'ssTest.components.addAdmin.placeholders.login' | translate }}"
								ng-model="adminName" aria-describedby="basic-addon1"
								ng-minlength="4" required autofocus>
						<span class="input-group-addon admin-addon" id="basic-addon1">
							<span class="glyphicon glyphicon-user"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerAdmin.adminName.$error.required"></div>
					<div class="alert admin-alert" translate="ssTest.errors.notEnoughChars"
							ng-show="formSubmit && registerAdmin.adminName.$error.minlength">
					</div>
				</div>
				<div class="form-group" ng-class="{'admin-error': (formSubmit && registerAdmin.adminEmail.$error.required)
						|| (formSubmit && registerAdmin.adminEmail.$error.email)}">
					<label for="admin-email" class="admin-label">
						<span title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addAdmin.setEmail"></span>
					</label>
					<div class="input-group">
						<input type="email" name="adminEmail" id="admin-email" class="form-control admin-input"
								placeholder="{{ 'ssTest.components.addAdmin.placeholders.email' | translate }}"
								ng-model="adminEmail" aria-describedby="basic-addon2" required>
						<span class="input-group-addon admin-addon" id="basic-addon2">
							<span class="glyphicon glyphicon-envelope"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerAdmin.adminEmail.$error.required"></div>
					<div class="alert admin-alert" translate="ssTest.errors.invalidEmail"
							ng-show="formSubmit && registerAdmin.adminEmail.$error.email"></div>
				</div>
				<div class="form-group tooltip-wide"
						ng-class="{'admin-error': (formSubmit && registerAdmin.adminPswd.$error.required)
							|| (formSubmit && registerAdmin.adminPswd.$error.minlength)}">
					<label for="admin-pswd" class="admin-label">
						<span title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addAdmin.setPassword"></span>
					</label>
					<div class="input-group">
						<input type="password" name="adminPswd" id="admin-pswd" class="form-control admin-input"
								placeholder="{{ 'ssTest.components.addAdmin.placeholders.password' | translate }}"
								ng-model="adminPswd" aria-describedby="basic-addon3" ng-minlength="4" required
								ng-focus="pswdSecurity = true" ng-blur="pswdSecurity = false">
						<span class="input-group-addon admin-addon" id="basic-addon3">
							<span class="glyphicon glyphicon-lock"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerAdmin.adminPswd.$error.required"></div>
					<div class="alert admin-alert" translate="ssTest.errors.notEnoughChars"
							ng-show="formSubmit && registerAdmin.adminPswd.$error.minlength"></div>
					<div class="alert admin-alert" ng-cloak ng-class="strengthClass"
							ng-show="registerAdmin.adminPswd.$valid" translate="{{ strength }}">
					</div>
				</div>
				<div class="form-group admin-last tooltip-wide"
						ng-class="{'admin-error': (formSubmit && registerAdmin.adminPswdConfirm.$error.required)
						|| (formSubmit && registerAdmin.adminPswdConfirm.$error.minlength)}">
					<label for="admin-pswd-confirm" class="admin-label">
						<span title="{{ 'ssTest.components.addAdmin.require' | translate }}">*</span>
						<span translate="ssTest.components.addAdmin.repeatPassword"></span>
					</label>
					<div class="input-group">
						<input type="password" name="adminPswdConfirm" id="admin-pswd-confirm"
								class="form-control admin-input" ng-model="adminPswdConfirm"
								placeholder="{{ 'ssTest.components.addAdmin.placeholders.password' | translate }}"
								aria-describedby="basic-addon4" ng-minlength="4" required
								ng-focus="pswdSecurity = true" ng-blur="pswdSecurity = false">
						<span class="input-group-addon admin-addon" id="basic-addon4">
							<span class="glyphicon glyphicon-lock"></span>
						</span>
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.required"
							ng-show="formSubmit && registerAdmin.adminPswdConfirm.$error.required">
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.notEnoughChars"
							ng-show="formSubmit && registerAdmin.adminPswdConfirm.$error.minlength">
					</div>
					<div class="alert admin-alert" translate="ssTest.errors.repeatPswd"
							ng-show="wrong && !(formSubmit && (registerAdmin.adminPswdConfirm.$error.required || registerAdmin.adminPswdConfirm.$error.minlength))">
					</div>
					<div class="alert admin-alert" ng-cloak ng-class="strengthConfirmClass"
							ng-show="registerAdmin.adminPswdConfirm.$valid && !wrong"
							translate="{{ strengthConfirm }}">
					</div>
				</div>
				<div class="form-group buttons">
					<button type="submit" class="btn admin-submit">
						<span class="glyphicon glyphicon-plus"></span>
						<span ng-if="!editing" translate="ssTest.controls.register"></span>
						<span ng-if="editing" translate="ssTest.controls.edit"></span>
					</button>
					<button type="reset"
							delay-btn="4000"
							on-click="reset()"
							confirm-txt="ssTest.controls.indeed"
							class="btn admin-reset">
						<span class="glyphicon glyphicon-refresh"></span>
						<span translate="ssTest.controls.reset"></span>
					</button>
				</div>
			</form>
		</div>
		<div class="pswd-security" ng-if="pswdSecurity">
			<b translate="ssTest.components.addAdmin.pswdSecurity.strong"></b>
			<ul>
				<li ng-repeat="req in pswdStrReq track by $index" translate="{{req}}"></li>
			</ul>
			<b translate="ssTest.components.addAdmin.pswdSecurity.medium"></b>
			<ul>
				<li ng-repeat="req in pswdMedReq track by $index" translate="{{req}}"></li>
			</ul>
		</div>
	</div>
</div>
