<div class="container-fluid" ng-controller="HomeAdminCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<i class="glyphicon glyphicon-bookmark"></i>
				<span translate="ssTest.components.homeAdmin.title"></span>
			</h3>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5 col-md-3">
			<div class="side-bar">
				<button ng-repeat="button in sideBar track by $index" type="button"
						ui-sref="{{ button.state }}" class="btn btn-default btn-block">
					<span class="glyphicon glyphicon-{{ button.glyph }}"></span>
					<span translate="{{ button.title }}"></span>
				</button>
			</div>
		</div>
		<div class="col-sm-7 col-md-5">
			<div class="stat ">
				<div class="stat-heading">
					<h4 class="stat-title">
						<span translate="ssTest.components.homeAdmin.statistics.title"></span>
					</h4>
				</div>
				<table class="table">
					<tr ng-repeat="item in statistics track by $index">
						<td translate="{{ item.title }}"></td>
						<td class="labels">
							<span class="label quantity">{{ item.quantity }}</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="visible-sm col-sm-5"></div>
		<div class="col-sm-7 col-md-4">
			<custom-calendar></custom-calendar>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div widgets-box gridster="gridsterOpts" items="standardItems" class="widgets-box"></div>
		</div>
	</div>
</div>
