.breadcrumb {
	margin-bottom: 0;
	padding: 11px 1px 9px;
	line-height: 100%;
	.cut-crumb {
		white-space: nowrap;
		max-width: 20%;
		min-width: 60px;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}