<ol class="breadcrumb">
	<li  class="cut-crumb" ng-repeat="crumb in breadcrumbs" ng-class="{ active: $last }">
		<a ui-sref="{{ crumb.state }}({id: crumb.entityId})" ng-if="!$last">
			{{crumb.title | translate | decode}}&nbsp;</a>
		<span ng-show="$last">{{crumb.title | translate | decode}}</span>
	</li>
</ol>