<div ng-if="widgetItems" class="widgets-box-ctrls">
	<div class="add-widget-menu pull-right" dropdown is-open="status.isopen">
		<button ng-disabled="edit || loading" class="btn btn-primary" dropdown-toggle><span
				class="glyphicon glyphicon-plus"></span>&nbsp;<span
				translate="ssTest.controls.addWidget"></span></button>
		<ul class="dropdown-menu lang-dropdown" role="menu" aria-labelledby="single-button">
			<li ng-repeat="widget in widgetsList"><a ng-click="controls.openInstall(widget)"
					class="widgets-add-link"
					translate="{{'ssTest.components.widgets.'+CaseConverter.toCamel(widget.type)+'.title'}}"></a></li>
		</ul>
	</div>
	<button ng-if="widgetItems.length" ng-disabled="edit || loading" class="btn btn-primary"
			ng-click="controls.editWidgetsStart(widgetItems)"
			ng-hide="options.draggable.enabled"
			translate="ssTest.controls.edit"></button>
	<button ng-if="widgetItems.length" ng-disabled="edit || loading" class="btn btn-success" 
			ng-click="controls.editWidgetsSave()"
			ng-show="options.draggable.enabled"
			translate="ssTest.controls.save"></button>
	<button ng-if="widgetItems.length" ng-disabled="edit || loading" class="btn btn-default" 
			ng-click="controls.editWidgetsCancel()"
			ng-show="options.draggable.enabled"
			translate="ssTest.controls.cancel"></button>
</div>
<ul ng-if="widgetItems.length" class="widgets-list"
		ng-class="{'loading': loading}">
	<li class="placeholder"
			gridster-item="item"
			ng-class="{
				'drag-enabled': options.draggable.enabled,
				'loading': item.loading
			}"
			ng-repeat="item in widgetItems">
		<div class="widget-wrap" id="widget-box-{{::$index}}" ng-init="insertWidget(item, 'widget-box-' + $index)">

			<div class="widget-buttons drag-zone">
				<button ng-disabled="edit"
						ng-hide="item.type === 'widget-add'" ng-click="controls.removeWidget(item)" class="button"><span
						class="glyphicon glyphicon-remove"></span></button>
				<button ng-disabled="edit"
						ng-if="item.data" ng-click="controls.openInstall(item, true)" class="button"><span
						class="glyphicon glyphicon-cog"></span></button>
			</div>

		</div>
	</li>
</ul>
<div ng-hide="widgetItems" class="pre-loader loading"></div>
<div ng-if="!widgetItems.length" class="no-widgets"><div class="no-widgets-text" translate="ssTest.components.widgets.noWidgets"></div></div>