<div class="userComponent" ng-controller="ProfileCtrl">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3>
					<span class="glyphicon glyphicon-bookmark"></span> <span
						translate="ssTest.components.profile.title"></span>
				</h3>
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<img ng-src={{photo}} class="photo-user user-profile"
						alt="icon">
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<table class="table table-hover table-bordered table-responsive general-list-table">
					<tbody ng-repeat="student in students">
					<tr>
						<th class="hidden-xs"><span
								translate="ssTest.components.profile.surname"></span></th>
						<th scope="row"><span class="visible-xs"><b
								translate="ssTest.components.profile.surname"></b></span>{{student.student_surname}}
						</th>
					</tr>
					<tr>
						<th class="hidden-xs"><span
								translate="ssTest.components.profile.name"></span></th>
						<td><span class="visible-xs"><b
								translate="ssTest.components.profile.name"></b></span>{{student.student_name}}
						</td>
					</tr>
					<tr>
						<th class="hidden-xs"><span
								translate="ssTest.components.profile.fname"></span></th>
						<td><span class="visible-xs"><b
								translate="ssTest.components.profile.fname"></b></span>{{student.student_fname}}
						</td>
					</tr>
					<tr>
						<th class="hidden-xs"><span
								translate="ssTest.components.profile.grade"></span></th>
						<td><span class="visible-xs"><b
								translate="ssTest.components.profile.grade"></b></span>{{student.gradebook_id}}
						</td>
					</tr>
					<tr>
						<th class="hidden-xs"><span
								translate="ssTest.components.profile.group"></span></th>
						<td><span class="visible-xs"><b
								translate="ssTest.components.profile.group"></b></span>{{group_name}}
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>