<div class="container-fluid" ng-controller="questionsCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<i class="glyphicon glyphicon-tasks"></i>
				<span translate="ssTest.components.questions.title"
						translate-values="{name: additionTitle}"></span>
			</h3>
			<hr class="line">
		</div>
	</div>
	<div ng-if="!loaded" class="entity loading">
		<span>Триває завантаження...</span>
	</div>
	<div class="emptyEntity" ng-if="empty && loaded">
		<span>Немає записів</span>
		<a ui-sref="admin.addQuestion({id: testId})" href=""
				class="btn btn-primary btn-md">
			<span class="glyphicon glyphicon-circle-arrow-up"></span>
			<span translate="ssTest.components.questions.addButton"></span>
		</a>
	</div>
	<div class="panel table-wrapper" ng-if="!empty">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-12">
					<form class="form-inline">
						<a ui-sref="admin.addQuestion({id: testId})" href=""
								class="btn btn-primary btn-md">
							<span class="glyphicon glyphicon-circle-arrow-up"></span>
							<span translate="ssTest.components.questions.addButton"></span>
						</a>
						<a ui-sref="admin.detailOfTest({id: testId})" href=""
								class="btn btn-primary btn-md mybutton">
							<span class="glyphicon glyphicon-zoom-in"></span>
							<span translate="ssTest.components.testDetails.label"></span>
						</a>
						<table-versions
								cols="[questionTitlesPdf.length, questionAdditionsPdf.length]">
						</table-versions>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<entity-table
						table-head="questionHead"
						table-body="questions"
						table-options="questionOptions"
						></entity-table>
			</div>
		</div>
	</div>
</div>
