<div class="userComponent">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3>
					<span class="glyphicon glyphicon-thumbs-up"></span> Група розробників
					WEB-UI IF-057
				</h3>
				<hr>
			</div>
			<div class="user-help user-info col-xs-12 col-sm-10 col-lg-10 col-md-10
					 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
				<ul>
					<li>
						Андрій Козак (Веб-розробник)
					</li>
					<li>
						Василь Шумейко (Веб-розробник)
					</li>
					<li>
						Катерина Вітрук (Веб-розробник)
					</li>
					<li>
						Сергій Зінчук (Веб-розробник)
					</li>
					<li>
						Сергій Сахнюк (Веб-розробник)
					</li>
					<li>
						Юліан Терлецький (Веб-розробник)
					</li>
					<li>
						Юрій Безгачнюк (Викладач/веб-розробник)
					</li>
					<li>
						Ростислав Бельмега (Експерт)
					</li>
					<li>
						Ігор Репела (Експерт)
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>