<ul ng-if="buttons" class="custom-pagination">
	<li>
		<button class="get-all" translate="ssTest.pagination.showAll" ng-click="getAll()"></button>
	</li>
	<li ng-if="!(currentPage === 1)">
		<button translate="ssTest.pagination.first"
				ng-click="setPage(buttons[0].index, buttons[0].displacement, 'begin')">
		</button>
	</li>
	<li ng-if="currentPage > maxSize">
		<button ng-click="prevRange()" class="dots">…</button>
	</li>
	<li ng-repeat="button in shownButtons track by $index">
		<button ng-click="setPage(button.index, button.displacement)" class="index"
				ng-class="{'active': currentPage === button.index}">{{ button.index }}</button>
	</li>
	<li ng-if="buttons.length > maxSize
			&& shownButtons[shownButtons.length - 1].index < buttons[buttons.length - 1].index">
		<button ng-click="nextRange()" class="dots">…</button>
	</li>
	<li ng-if="!(currentPage === buttons[buttons.length - 1].index)">
		<button translate="ssTest.pagination.last"
				ng-click="setPage(buttons[buttons.length - 1].index,
								  buttons[buttons.length - 1].displacement)">
		</button>
	</li>
	<li>
		<button ng-click="previous()" class="arrow">
			<img src="images/left.png">
		</button>
	</li>
	<li>
		<button ng-click="next()" class="arrow">
			<img src="images/right.png">
		</button>
	</li>
</ul>