.custom-pagination {
	margin: 16px 12px 16px 0;
	padding: 0;
	float: right;
	list-style: none;
	li {
		display: inline-block;
		&:last-child {
			margin-left: -3px;
		}
		button {
			padding: 6px 12px;
			border: none;
			background: none;
			font-size: 15px;
			color: #1D1D1D;
			transition: 0.5s;
			&:hover {
				background-color: #E2E2E2;
				border-radius: 2px;
				transition: 1s;
			}
		}
		.index, .arrow, .dots {
			border-radius: 50%;
			&:hover {
				border-radius: 50%;
			}
		}
		.index {
			margin: 0 2px;
		}
		.active {
			background-color: #4681AE;
			border-radius: 50%;
			color: #fff;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			&:hover {
				background-color: #4681AE;
			}
		}
		.arrow {
			padding: 5px;
		}
		.dots {
			padding: 5px 8px;
		}
	}
}