.dropdown-menu-user {
	.dropdown-menu-btn {
		cursor: pointer;
		padding: 15px 13px;
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
	.menu-dropdown {
		text-align: left;
		min-width: 80px;
		a {
			cursor: pointer;
			padding: 5px 10px;
			color: #fff;
			@media all and (min-width: 768px) {
				color: #333;
			}

			@media (min-width: 767px) {
				&.active-state {
					background-color: #02578d;
					&:after {
						content: none;
					}
				}
				&.active,
				&:hover {
					background-color: #02578d;
					&:after {
						content: none;
					}
				}
			}
			@media (max-width: 767px) {
				&.active-state {
					background-color: #02578d;
				}
				&.active,
				&:hover {
					background-color: #02578d;
				}
			}
		}
	}
	&.open {
		.dropdown-menu-btn {
			background-color: #02578d;
		}
	}
}