<div class="dropdown-menu-user" dropdown is-open="status.isopen">
	<a class="dropdown-menu-btn" id="single-button" dropdown-toggle ng-disabled="disabled"> <span
			class="caret"></span>&nbsp;<span class="glyphicon glyphicon-user"></span> </a>
	<ul class="dropdown-menu menu-dropdown" role="menu" aria-labelledby="single-button">
		<li>
			<a ui-sref=".profile"
			   ng-class="{'active-state': $state.includes('user.profile')}">
				<span class="glyphicon glyphicon-user"></span>&nbsp;
				<span class="hidden-sm" id="profile-name"></span>
			</a>
		</li>
		<li>
			<a href ng-click="exit()">
				<span class="glyphicon glyphicon-log-out"></span>&nbsp;
				<span class="hidden-sm" translate="ssTest.components.homepage.exit"></span>
			</a>
		</li>
	</ul>
</div>

