<div class="container-fluid" ng-controller="EditTestDetailCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header" translate="ssTest.components.editTestDetail.title"
					translate-values="{name: additionTitle}"></h3>
			<div class="edit-test-form">
				<form name="editTestDetailForm"
						class="form-horizontal add-form add-error-form"
						ng-submit="editTestDetailForm.$valid && editTestDetail()" novalidate>

					<div class="form-group row"
							ng-class="{'has-error': (formSubmited && editTestDetailForm.testDetailLevel.$invalid),
									'has-success': (formSubmited && editTestDetailForm.testDetailLevel.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
								translate="ssTest.components.editTestDetail.additions.level"></label>
						</div>
						<div class="col-xs-12 col-md-3">
							<input type="number" class="form-control" name="testDetailLevel"
									ng-model="testDetail.level" min=1 step="1" max="1000" required>

							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailLevel.$error.number"
									translate="ssTest.errors.number"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailLevel.$error.required"
									translate="ssTest.errors.required"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailLevel.$error.min"
									translate="ssTest.errors.minNumber"
									translate-values="{number: 1}"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailLevel.$error.max"
									translate="ssTest.errors.maxNumber"
									translate-values="{number: 1000}"></div>
						</div>
					</div>

					<div class="form-group row" ng-class="{'has-error': (formSubmited && editTestDetailForm.testDetailTasks.$invalid),
									'has-success': (formSubmited && editTestDetailForm.testDetailTasks.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
								translate="ssTest.components.editTestDetail.additions.tasks"></label>
						</div>
						<div class="col-xs-12 col-md-3">
							<input type="number" class="form-control" name="testDetailTasks" min="1"
									step="1" max="1000" ng-model="testDetail.tasks" required>

							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailTasks.$error.number"
									translate="ssTest.errors.number"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailTasks.$error.required"
									translate="ssTest.errors.required"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailTasks.$error.min"
									translate="ssTest.errors.minNumber"
									translate-values="{number: 1}"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailTasks.$error.max"
									translate="ssTest.errors.maxNumber"
									translate-values="{number: 1000}"></div>
						</div>
					</div>

					<div class="form-group row" ng-class="{'has-error': (formSubmited && editTestDetailForm.testDetailRate.$invalid),
									'has-success': (formSubmited && editTestDetailForm.testDetailRate.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
								translate="ssTest.components.editTestDetail.additions.rate"></label>
						</div>
						<div class="col-xs-12 col-md-3">
							<input ng-model="testDetail.rate" type="number" class="form-control"
									name="testDetailRate" min="1" max="300" required>

							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailRate.$error.number"
									translate="ssTest.errors.number"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailRate.$error.required"
									translate="ssTest.errors.required"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailRate.$error.min"
									translate="ssTest.errors.minNumber"
									translate-values="{number: 1}"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestDetailForm.testDetailRate.$error.max"
									translate="ssTest.errors.maxNumber"
									translate-values="{number: 300}"></div>
						</div>
					</div>
					<div class="form-actions row">
						<div class="col-xs-12 col-md-offset-2 col-md-10">
							<button type="submit" class="btn btn-primary btn-sm"
									ng-click="sendForm()" translate="ssTest.controls.save"
									ng-disabled="(formSubmited && editTestDetailForm.$invalid) || formSubmitSend"></button>
							<button type="button" class="btn btn-sm"
									translate="ssTest.controls.cancel"
									ui-sref="admin.detailOfTest({id: testId})">
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>