<div class="userComponent">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h3>
					<span class="glyphicon glyphicon-question-sign"></span> <span
						translate="ssTest.components.profile.title"></span>
				</h3>
				<hr>
			</div>
			<div class="user-help col-xs-12 col-sm-10 col-lg-10 col-md-10
					 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
				<ol>
					<li>Якщо у вас виникли складнощі з навігацією по системі оцінювання зверніться
						до викладача.
					</li>
					<li>Якщо дані на головній сторінці не відповідають дійсності(невірні дані
						користувача) зверніться до викладача або техпідтримки системи тестувань .
					</li>
					<li>Якщо результат тесту вас не задовільняє рекомендуємо звернутись до викладача
						або більше часу приділяти навчанню.
					</li>
					<li>Знайшли баг? Вітаємо, ви можете допомогти розробникам проекту зробити його
						кращим, напишіть лист за адресою з описом багу pupkin@gmail.com.
					</li>
					<li>Якщо у вас проблеми з логіном у систему перевірте чи вибрали ви вірну мову,
						виключили Caps Lock або при вводі цифр був увімкнутий num lock. Якщо це не
						допомогло зверніться до викладача.
					</li>
					<li>Не рекомендуємо пробувати завдати шкоду системі тестувань, за кіберзлочини
						вас можуть покарати згідно 200 статті Кримінального Кодексу України.
					</li>
					<li>Якщо у Вас виникли інші запитання звертайтесь у техпідтримку системи
						тестувань.
					</li>

				</ol>
			</div>
		</div>
	</div>
</div>