.general-calculator {
	body, div, a {
		padding:0;
		margin:0;
		font-family: Arial, Helvetica, sans-serif;
	}
	.calculator {
		background-color: #999;
		width: 310px;
		height: 310px;
		border: 3px black solid;
		margin: 10px auto;
		border-radius: 10px;
	}

	.total {
		height: 60px;
		width: 290px;
		margin:auto;
		background-color:white;
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: right;
		font-size: 50px;
		padding: 5px 5px;
	}

	.numbers, .operators {
		margin: auto;
	}

	.operators a {
		display: block;
		width: 45px;
		height: 45px;
		float: left;
		text-decoration: none;
		color: black;
		text-align: center;
		font-size: 39px;
		margin: 5px 7px;
		background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
		background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
		border-radius: 10px;
	}

	.numbers a {
		display: block;
		width: 45px;
		height: 45px;
		float: left;
		text-decoration: none;
		color: black;
		text-align: center;
		font-size: 40px;
		margin: 5px 10px;
		background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
		background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
		border-radius: 10px;
	}
}
