<form name="widgetForm" class="add-form" ng-class="{'loading': formState.formSubmitSend}"
		ng-submit="widgetForm.$valid && save()" novalidate>

	<div class="modal-header">
		<h3 class="modal-title" translate="ssTest.components.installWidget.title"></h3>
	</div>

	<div class="modal-footer">
		<button type="submit" ng-click="send()" class="btn btn-primary"
				ng-disabled="(formState.formSubmited && widgetForm.$invalid) || formState.formSubmitSend"
				translate="ssTest.controls.add"></button>
		<button type="button" class="btn btn-default" ng-click="cancel()"
				translate="ssTest.controls.cancel"></button>
	</div>
</form>