<div class="container-fluid" ng-controller="answersCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<i class="glyphicon glyphicon-check"></i>
				<span translate="ssTest.components.answers.title"></span>
			</h3>
			<div class="well well-sm">
				<h4 ng-bind="additionTitle | decode"></h4>
				<img ng-show="attachment" ng-src={{attachment}}
						class="image-questions img-responsive img-thumbnail"
						alt="image" style="max-width: 500px;">
			</div>
			<hr class="line">
		</div>
	</div>
	<div ng-if="!loaded" class="entity loading">
		<span>Триває завантаження...</span>
	</div>
	<div class="emptyEntity" ng-if="empty">
		<span>Немає записів</span>
		<button class="btn btn-primary" ui-sref="admin.addAnswer({id: questionId})">
			<span class="glyphicon glyphicon-circle-arrow-up"></span>
			<span translate="ssTest.components.answers.addButton"></span>
		</button>
	</div>
	<div class="panel table-wrapper" ng-show="!empty && loaded">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-12">
					<form action="" class="form-inline">
						<button class="btn btn-primary" ui-sref="admin.addAnswer({id: questionId})">
							<span class="glyphicon glyphicon-circle-arrow-up"></span>
							<span translate="ssTest.components.answers.addButton"></span>
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<entity-table
						table-head="answerHead"
						table-body="answers"
						table-options="answerOptions"
						></entity-table>
			</div>
		</div>
	</div>
</div>