.date {
	position: relative;
	img {
		position: absolute;
		right: 18px;
		top: 6px;
		cursor: pointer;
	}
	custom-calendar {
		display: block;
		height: 310px;
		overflow: hidden;
		border-radius: 2px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
	.animate-if.ng-enter {
		transition: 1s linear all;
	}
	.animate-if.ng-leave {
		transition: 0.7s linear all;
	}
	.animate-if.ng-enter, .animate-if.ng-leave.ng-leave-active {
		max-height: 0;
	}
	.animate-if.ng-enter.ng-enter-active, .animate-if.ng-leave {
		max-height: 999px;
	}
	.panel {
		margin: 0;
	}
}
.form-actions {
	padding-left: 0;
}