<div class="container-fluid" ng-controller="AddEditScheduleCtrl">
	<div class="col-xs-12">
		<div class="row">
			<h3 class="page-header" translate="ssTest.components.addTestSchedule.title"
					translate-values="{name: additionTitle}" ng-if="!edit"></h3>
			<h3 class="page-header" translate="ssTest.components.editTestSchedule.title"
					translate-values="{name: additionTitle}" ng-if="edit"></h3>
		</div>
		<div class="row">
			<form role="form" name="ScheduleForm"
					class="form-horizontal add-form add-error-form" novalidate>

				<div class="form-group" ng-class="{'has-error': (formSubmited && ScheduleForm.scheduleGroup.$invalid),
									'has-success': (formSubmited && ScheduleForm.scheduleGroup.$valid)}">
					<label class="control-label col-xs-12 col-sm-1"
							translate="ssTest.components.groups.group"></label>

					<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
						<select class="form-control" name="scheduleGroup"
								ng-options="group.group_id as group.group_name for group in groups"
								ng-model="timetable.group_id" required>
							<option selected value=""
									translate="ssTest.components.addTestSchedule.selectGroup"></option>
							<option selected ng-if="edit" value="{{schedule.group_id}}">
								{{schedule.group_id}}
							</option>
						</select>

						<div class="alert alert-danger"
								ng-show="formSubmited && ScheduleForm.scheduleGroup.$invalid"
								translate="ssTest.errors.required">

						</div>
					</div>
				</div>

				<div class="form-group date"
						ng-class="{'has-error': (formSubmited && ScheduleForm.scheduleDate.$invalid),
									'has-success': (formSubmited && ScheduleForm.scheduleDate.$valid)}">
					<label class="control-label col-xs-12 col-sm-1"
							translate="ssTest.components.studentResults.date"></label>

					<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
						<input type="text" ui-mask="d9/m9/y999"
								ui-options="{maskDefinitions: pattern}"
								placeholder="DD/MM/YYYY"
								class="form-control"
								name="scheduleDate"
								ng-model="timetable.event_date" required>
						<img src="images/calendar.png" ng-click="setOnly = !setOnly">
						<custom-calendar set-only="setOnly" set-date="timetable.event_date"
								ng-if="setOnly" class="animate-if"></custom-calendar>
						<div class="alert alert-danger"
								ng-show="formSubmited && ScheduleForm.scheduleDate.$invalid"
								translate="ssTest.errors.required"></div>
					</div>
				</div>

				<div class="form-actions col-xs-12 col-sm-offset-1 col-sm-5 col-md-4 col-lg-3">
					<button type="submit" class="btn btn-primary btn-sm" ng-click="sendForm()"
							translate="ssTest.controls.save"
							ng-disabled="(formSubmited && ScheduleForm.$invalid) || formSubmitSend">
					</button>
					<button class="btn btn-sm" ng-click="resetForm()" ng-if="!edit"
							translate="ssTest.controls.reset">
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
