<div class="container-fluid" ng-controller="AdminsCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<i class="glyphicon glyphicon-king"></i>
				<span translate="ssTest.components.admins.title"></span>
			</h3>
			<hr class="line">
		</div>
		<div class="col-xs-12 col-sm-8 col-md-7 col-lg-6">
			<div class="panel table-wrapper">
				<div class="panel-heading">
					<form class="form-inline">
						<a ui-sref="admin.register" class="btn btn-primary btn-md mybutton">
							<span class="glyphicon glyphicon-plus"></span>
							<span translate="ssTest.components.admins.registerAdmin"></span>
						</a>
						<div class="group">
							<input type="text" id="input" ng-model="adminsQuery.username">
							<span class="bar"></span>
							<label for="input" translate="ssTest.components.admins.searchByLogin"
									ng-class="{'label-up': adminsQuery.username.length > 0}">
							</label>
						</div>
					</form>
				</div>
				<entity-table
						table-head="adminsHead"
						table-body="admins"
						table-options="adminsOptions"
						table-filter="adminsQuery"
						></entity-table>
			</div>
		</div>
	</div>
</div>