<table id="toPDF" class="table table-hover table-bordered table-condensed general-list-table">
	<thead>
	<tr>
		<th ng-if="tableOptions.mark"></th>
		<th>№</th>
		<th ng-repeat="col in tableHead track by $index">
			<span ng-if="!col.sort">{{col.title | translate}}</span>
			<a ng-if="col.sort" ng-click="sort(col.propertyName)">{{col.title | translate}}
				<span ng-if="isSortUp(col.propertyName)">⇧</span>
				<span ng-if="isSortDown(col.propertyName)">⇩</span>
			</a>
		</th>
		<th class="text-center" translate="ssTest.table.actions"
				ng-if="!(tableOptions.hideTableActions.edit && tableOptions.hideTableActions.delete)">
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-click="enterToEntity(row[tableOptions.entityId])" data-pointer="{{!tableOptions.state}}"
			ng-class="{'false-answer': row.falseAnswer, 'true-answer': !row.falseAnswer && tableOptions.mark}"
			ng-repeat="row in tableBody | filter:tableFilter:strict | orderBy:sortField:reverse track by $index">
		<td ng-if="tableOptions.mark" class="first">
			<span ng-if="row.falseAnswer" class="glyphicon glyphicon-remove icon-false-answer"
					aria-hidden="true"></span>
			<span ng-if="!row.falseAnswer" class="glyphicon glyphicon-ok icon-true-answer"
					aria-hidden="true"></span>
		</td>
		<td data-title="№" class="first">{{$index + 1 + tableOptions.numItem}}</td>
		<td data-title="{{col.title | translate}}" ng-if="tableOptions.state"
				ui-sref="{{tableOptions.state}}({id: row[tableOptions.entityId]})"
				ng-repeat="col in tableHead track by $index">
			<span ng-if="!col.photo">
				{{row[col.propertyName] | decode}}<span ng-if="col.percentage">%</span>
			</span>
			<div class="attachment" ng-if="col.attachment && row[col.attachment] !== ''">
				<img ng-src="{{row[col.attachment]}}"/>
			</div>
			<img class="user-image" ng-if="col.photo && row[col.propertyName]" ng-src="{{row[col.propertyName]}}" />
			<img class="user-image" ng-if="col.photo && !row[col.propertyName]" ng-src="images/mr-bin.png" />
		</td>
		<td data-title="{{col.title | translate}}" ng-if="!tableOptions.state"
				ng-repeat="col in tableHead track by $index">
			<span>{{row[col.propertyName] | decode}}</span>
			<div class="attachment" ng-if="col.attachment && row[col.attachment] !== ''">
				<img ng-src="{{row[col.attachment]}}"/>
			</div>
		</td>
		<td data-title="Дії" class="last" ng-if="!(tableOptions.hideTableActions.edit && tableOptions.hideTableActions.delete)">
			<a ng-if="!tableOptions.hideTableActions.edit"
					class="btn btn-default btn-xs" tooltip="{{'ssTest.controls.edit' | translate}}"
					ng-click="edit(row[tableOptions.entityId]); $event.stopPropagation()">
				<img src="images/edit.png">
			</a>
			<a ng-if="!tableOptions.hideTableActions.delete"
					class="btn btn-default btn-xs" tooltip="{{'ssTest.controls.delete' | translate}}"
					ng-click="delete(row[tableOptions.entityId]); $event.stopPropagation()">
				<img src="images/delete.png">
			</a>
		</td>
	</tr>
	</tbody>
</table>
<custom-pagination
		ng-if="tableOptions.pagination"
		total-items="tableOptions.quantity"
		num-per-page="tableOptions.itemsPerPage"
		max-size="5"
		get-range="tableOptions.getRange"
		get-all="tableOptions.getAll()"></custom-pagination>