.general-list-table {
	.last, .first {
		white-space: nowrap;
		text-align: center;
		width: 1px;
	}

	.true-answer {
		border-left: 5px #81C784 solid;
		.icon-true-answer {
			color: #4CAF50;
		}
	}

	.false-answer {
		background: #FFEBEE;
		border-left: 5px #E57373 solid;
		.icon-false-answer {
			color: #F44336;
		}
	}

	.user-image {
		height: 50px;
	}

	.attachment {
		margin-top: 5px;
		img {
			max-height: 200px;
		}
	}

	tr[data-pointer="false"], th a {
		cursor: pointer;
	}
}

@media (max-width: 600px) {
	.general-list-table {
		display: block;
		thead, tbody, th, td, tr {
			display: block;
		}
		.last, .first {
			white-space: normal;
			text-align: right;
			width: 100%;
		}
		.true-answer {
			border-left: none;
		}
		.false-answer {
			border-left: none;
		}
		.attachment {
			margin-top: 5px;
			img {
				max-height: 150px;
			}
		}
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		tr {
			border-top: 1px solid #ccc;
		}
		td {
			position: relative;
			padding-left: 40% !important;
			padding-top: 5px !important;
			padding-bottom: 5px !important;
			white-space: normal;
			text-align: right;
			border: none !important;
		}
		td:before {
			position: absolute;
			top: 6px;
			left: 6px;
			width: 40%;
			padding-right: 10px;
			white-space: nowrap;
			text-align:left;
			font-weight: bold;
		}
		td:before {
			content: attr(data-title);
		}
	}
	.panel-heading {
		margin-bottom: 10px;
	}
}
