<div class="container-fluid" ng-controller="AddTestCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header"
					translate="ssTest.components.addTest.title"
					translate-values="{name: additionTitle}"></h3>
			<div class="edit-test-form">
				<form role="form" name="addTestForm" class="form-horizontal add-form add-test-form"
						ng-submit="addTestForm.$valid && newTest()" novalidate>

					<div class="form-group row"
							ng-class="{'has-error': (formSubmited && addTestForm.testName.$invalid),
									'has-success': (formSubmited && addTestForm.testName.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
									translate="ssTest.components.addTest.label"></label>
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control" name="testName"
									ng-model="test.test_name" ng-minlength=5 ng-maxlength=50
									required>

							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testName.$error.required"
									translate="ssTest.errors.required"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testName.$error.minlength"
									translate="ssTest.errors.minLength"
									translate-values="{count: 5}"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testName.$error.maxlength"
									translate="ssTest.errors.maxLength"
									translate-values="{count: 50}"></div>
						</div>
					</div>

					<div class="form-group row"
							ng-class="{'has-error': (formSubmited && addTestForm.testItem.$invalid),
									'has-success': (formSubmited && addTestForm.testItem.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
									translate="ssTest.components.addTest.additions.tasks"></label>
						</div>
						<div class="col-md-3">
							<input type="number" class="form-control" name="testItem" min="1"
									step="1" max="1000" ng-model="test.tasks" required>

							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testItem.$error.number"
									translate="ssTest.errors.number"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testItem.$error.required"
									translate="ssTest.errors.required"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testItem.$error.min"
									translate="ssTest.errors.minNumber"
									translate-values="{number: 1}"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testItem.$error.max"
									translate="ssTest.errors.maxNumber"
									translate-values="{number: 1000}"></div>
						</div>
					</div>

					<div class="form-group row"
							ng-class="{'has-error': (formSubmited && addTestForm.testTime.$invalid),
									'has-success': (formSubmited && addTestForm.testTime.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
									translate="ssTest.components.addTest.additions.duration"></label>
						</div>

						<div class="col-md-3">
							<input ng-model="test.time_for_test" type="number" class="form-control"
									name="testTime" min="1" max="300" required>

							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testTime.$error.required"
									translate="ssTest.errors.required"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testTime.$error.number"
									translate="ssTest.errors.number"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testTime.$error.min"
									translate="ssTest.errors.minNumber"
									translate-values="{number: 1}"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testTime.$error.max"
									translate="ssTest.errors.maxNumber"
									translate-values="{number: 300}"></div>
						</div>
					</div>

					<div class="form-group row"
							ng-class="{'has-error': (formSubmited && addTestForm.testStatus.$invalid),
									'has-success': (formSubmited && addTestForm.testStatus.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
									translate="ssTest.components.addTest.additions.status"></label>
						</div>

						<div class="col-md-3">
							<select class="form-control" ng-model="test.enabled" name="testStatus"
									required>
								<option value="1"
										translate="ssTest.components.tests.status.enabled"></option>
								<option value="0"
										translate="ssTest.components.tests.status.disabled"></option>
							</select>

							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testStatus.$error.required"
									translate="ssTest.errors.required"></div>
						</div>
					</div>

					<div class="form-group row"
							ng-class="{'has-error': (formSubmited && addTestForm.testTry.$invalid),
									'has-success': (formSubmited && addTestForm.testTry.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
									translate="ssTest.components.addTest.additions.attempts"></label>
						</div>

						<div class="col-md-3">
							<input ng-model="test.attempts" type="number" class="form-control"
									value="1" min="1" max="20" step="1" name="testTry" required>

							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testTry.$error.required"
									translate="ssTest.errors.required"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testTry.$error.number"
									translate="ssTest.errors.number"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testTry.$error.min"
									translate="ssTest.errors.minNumber"
									translate-values="{number: 1}"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && addTestForm.testTry.$error.max"
									translate="ssTest.errors.maxNumber"
									translate-values="{number: 20}"></div>
						</div>
					</div>

					<div class="form-actions row">
						<div class="col-xs-12 col-md-offset-2 col-md-10">
							<button type="submit" class="btn btn-primary btn-sm"
									ng-click="sendForm()"
									ng-disabled="editTestForm.$pristine&&addTestForm.$invalid || formSubmited && addTestForm.$invalid || formSubmitSend"
									translate="ssTest.controls.save"></button>
							<button class="btn btn-sm" ng-click="resetForm()"
									translate="ssTest.controls.reset"></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>