.add-error-form {
	transition: 0.5s linear all;
	background: white;

	.ng-valid.ng-dirty {
		border-color: green;

	}
}

@media all and (min-width: 992px) {
	.add-test-form {
		.control-label {
			text-align: right;
			display: block;
		}
	}
}
