.userComponent {
  .navbar {
    background: #4885B5;
    width: 100%;
    border-radius: 0;
    border:0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    .container-fluid .navbar-header a.navbar-brand {
      &:after {
        content: none;
      }
    }
    .active-state {
      background-color: #4885B5;
    }
    @media (max-width: 767px) {
      .dropdown-menu {
        padding-top: 0;
      }
      .active-state {
        background-color: #02578d;
    }
    }
    @media (min-width: 767px) {
      .active-state::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 5px solid #bbdefb;
        opacity: 1;
      }
    }
    .brand {
      height: 42px;
      position: relative;
      bottom: 11px;
    }
    .navbar-toggle {
      position: relative;
      border: 1px solid white;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom:5px solid #BBDEFB;
        opacity: 0;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      &:hover::after {
        opacity: 1;
      }
      &:hover {
        background-color: #4885B5;
        color:#90CAF9;
      }
      .icon-bar {
        background: white;
      }
    }
    a {
      color: white;
      padding-right: 13px;
      padding-left: 13px;
      position: relative;
      &:hover::after {
        opacity: 1;
      }
      &:hover {
        background-color: #4885B5;
        color:#90CAF9;
      }
      @media (max-width: 767px) {
        &:hover {
          background-color: #02578d;
        }
        }
      @media (min-width: 767px) {
        &:after {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          opacity: 0;
          bottom: 0;
          border-bottom: 5px solid #bbdefb;
          -webkit-transition: all 500ms ease;
          -moz-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease;
        }
      }
    }
    .left-navbar {
      margin-left: 20px;
      margin-right: 20px;
    }
    .right-navbar {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .admin-title {
    padding-left: 42px;
    position: relative;
    .glyphicon-king {
      position: absolute;
      left: 9px;
      top: -2px;
    }
  }
  .userComponent > .row {
    margin: 0;
  }
  .side-bar {
    .btn {
      height: 45px;
    }
  }
  .test-table {
    margin-top: 5px;
  }
  .table {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.14);
  }
  .chart-bar {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.14);
  }
  .user-help {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.14);
  }
  .user-profile {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.14);
  }
  @media (min-width: 767px) {
    .tab-wid {
      width: 57px;
    }
  }
  @media (max-width: 767px) {
    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
      display: block;
    }
  }
  .photo-user {
    width: 280px;
    height: 280px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.18), 0 3px 12px 0 rgba(0, 0, 0, 0.16);
  }
  .user-info {
    font-size: 16px;
  }
}