<!--content userView start-->
<div class="userComponent" ng-controller="UserNavCtrl">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a ui-sref=".home" href="" class="navbar-brand">
                    <img alt="Brand" src="images/logo_admin.png" class="brand">
                </a>
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                        ng-click="navCollapsed = !navCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" collapse="navCollapsed">
                <ul class="nav navbar-nav left-navbar">
                    <li>
                        <a ui-sref=".home" ng-class="{'active-state': $state.includes('user.home')}">
                            <span class="glyphicon glyphicon-home"></span>&nbsp;
                            <span class="hidden-sm" translate="ssTest.components.homepage.mainpage"></span>
                        </a>
                    </li>
                    <li ng-repeat="link in links track by $index">
                        <a ui-sref="{{ link.state }}"  ng-bind="link.name"
                           ng-class="{'active-state': $state.includes(link.state)}" translate="ssTest.components.homepage.{{link.name}}"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right right-navbar">
                   <li dropdown-menu></li>
                    <li lang-menu></li>
                    <li>
                        <a ui-sref=".help" ng-class="{'active-state': $state.includes('user.help')}">
                            <span class="glyphicon glyphicon-question-sign"></span>&nbsp;
                            <span class="hidden-sm"></span>
                        </a>
                    </li>
                    <li><a ui-sref=".info"
                            ng-class="{'active-state': $state.includes('user.info')}">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <span class="hidden-sm"></span>
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div ui-view class="change-view-animation"></div>
</div>
<!--content end-->
