<div class="widget-title"
		translate="{{widgetData.name || 'ssTest.components.installWidget.subjects'}}"></div>
<div class="widget-content" ng-class="{'loading': !loaded}">
	<div class="list-group widget-list">
		<a ng-if="subject" ui-sref="admin.tests({id: subject.subject_id})"
				class="list-group-item widget-item" ng-repeat="subject in subjects track by $index">
			<div class="info">
				<span class="list-group-item-heading item-title">{{subject.subject_name}}</span>
				<p class="list-group-item-text item-text">{{subject.subject_description}}</p>
			</div>
		</a>
	</div>
</div>