<div class="container-fluid" ng-controller="editQuestCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3  class="page-header"
					translate="ssTest.components.editQuestion.title"
					translate-values="{name: additionTitle}"></h3>
		</div>
	</div>
	<div class="row admin-register">
		<form role="form" name="editQuestForm" class="add-form add-error-form"
				ng-submit="editQuestForm.$valid && editQuest()" method="post" novalidate>
			<div class="row">
				<div class="col-xs-12 col-md-5">
					<div class="form-group"
							ng-class="{'has-error': (formSubmited && editQuestForm.questName.$invalid),
								'has-success': (formSubmited && editQuestForm.questName.$valid)}">
						<label class="label label-default"
								translate="ssTest.components.addQuestion.label"></label>
						<textarea class="form-control" ng-model="quest.question_text" rows="6"
								name="questName" required></textarea>
						<div class="alert alert-danger"
								ng-show="formSubmited && editQuestForm.questName.$invalid"
								translate="ssTest.errors.required">
						</div>
						<div class="alert alert-danger"
								ng-show="formSubmited && editQuestForm.questName.$invalid"
								translate="ssTest.errors.required">
						</div>
					</div>
					<div class="form-group">
						<label class="label label-default"
								translate="ssTest.components.addQuestion.addPhoto"></label>

						<div file-input="file" class="btn admin-load"
								on-change="previewFile()">
							<span
									translate="ssTest.components.editQuestion.selectPhoto"></span>
						</div>
					</div>
					<div class="form-group">

						<div ng-show="imageSrc" class="form-group reg-image-box">
							<div class="image-download">
								<button type="button"
										class="btn btn-sm btn-success"
										ng-click="readFile()"
										value="ReadFile">
									<span class="glyphicon glyphicon-ok"></span>
										<span
												translate="ssTest.controls.saveImage"></span>
								</button>
							</div>
							<img ng-src="{{imageSrc}}" max-width="500px"
									class="img-responsive img-thumbnail"
									alt="image"/>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-3">
					<div class="form-group"
							ng-class="{'has-error': (formSubmited && editQuestForm.questLevel.$invalid),
							'has-success': (formSubmited && editQuestForm.questLevel.$valid)}">
						<label class="label label-default"
								translate="ssTest.components.editQuestion.additions.level"></label>
						<input type="number" name="questLevel" class="form-control"
								ng-model="quest.level" value="1" min="1" step="1" required>
						<div class='alert alert-danger'
								ng-show="formSubmited && editQuestForm.questLevel.$error.required"
								translate="ssTest.errors.required"></div>
						<div class='alert alert-danger'
								ng-show="formSubmited && editQuestForm.questLevel.$error.number"
								translate="ssTest.errors.number"></div>
					</div>
					<div class="form-group"
							ng-class="{'has-error': (formSubmited && editQuestForm.questType.$invalid),
							'has-success': (formSubmited && editQuestForm.questType.$valid)}">
						<label class="label label-default"
								translate="ssTest.components.editQuestion.additions.type"></label>
						<select class="form-control" ng-model="quest.type"
								name="questType" required>
							<option value=""
									translate="ssTest.components.addQuestion.additions.selectType"></option>
							<option value="1"
									translate="ssTest.components.questions.type.simple"></option>
							<option value="2"
									translate="ssTest.components.questions.type.multi"></option>
						</select>
						<div class='alert alert-danger'
								ng-show="formSubmited && editQuestForm.questType.$error.required"
								translate="ssTest.errors.required"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-3">
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-sm"
								ng-click="sendForm()"
								ng-disabled="(formSubmited && editQuestForm.$invalid) || formSubmitSend"
								translate="ssTest.controls.save"></button>
						<button type="button" class="btn btn-sm"
								translate="ssTest.controls.cancel"
								ui-sref="admin.questions({id: testId})">
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


<!--



-->


