<div class="container-fluid" ng-controller="AddAnswerCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header"
					translate="ssTest.components.addAnswer.title"></h3>
		</div>

	</div>
	<div class="row admin-register">
		<form role="form" name="addAnswerForm" class="add-form add-error-form"
				ng-submit="addAnswerForm.$valid && newAnswer()" novalidate>
				<div class="row">
					<div class="form-group col-xs-12 col-md-5"
							ng-class="{'has-error': (formSubmited && addAnswerForm.answerText.$invalid),
								'has-success': (formSubmited && addAnswerForm.answerText.$valid)}">
						<label class="label label-default"
								translate="ssTest.components.addAnswer.label"></label>

						<textarea class="form-control" rows="8" name="answerText"
								ng-model="answer.answer_text" required></textarea>
						<div class="alert alert-danger"
								ng-show="formSubmited && addAnswerForm.answerText.$invalid"
								translate="ssTest.errors.required"></div>

						<div class="form-group">

							<div ng-show="imageSrc" class="form-group reg-image-box">
								<div class="image-download">
									<button type="button"
											class="btn btn-sm btn-success"
											ng-click="readFile()"
											value="ReadFile">
										<span class="glyphicon glyphicon-ok"></span>
										<span
												translate="ssTest.controls.saveImage"></span>
									</button>
								</div>
								<img ng-src="{{imageSrc}}" max-width="500px"
										class="img-responsive img-thumbnail"
										alt="image"/>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-3"
							ng-class="{'has-error': (formSubmited && addAnswerForm.trueAnswer.$invalid),
								'has-success': (formSubmited && addAnswerForm.trueAnswer.$valid)}">
						<div class="form-group">
							<label class="label label-default"
									translate="ssTest.components.addAnswer.additions.trueAnswer"></label>
							<select	class="form-control" name="trueAnswer"
									ng-model="answer.true_answer" required>
								<option value="1"
										translate="ssTest.controls.yes">
								</option>
								<option value="0"
										translate="ssTest.controls.no">
								</option>
							</select>
							<div class="alert alert-danger"
									ng-show="formSubmited && addAnswerForm.trueAnswer.$invalid"
									translate="ssTest.errors.required"></div>
						</div>

						<div class="form-group">
							<label class="label label-default"
									translate="ssTest.components.addQuestion.addPhoto"></label>

							<div file-input="file" class="btn admin-load"
									on-change="previewFile()">
									<span
											translate="ssTest.components.addQuestion.selectPhoto"></span>
							</div>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-xs-12 col-md-3">
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-sm" ng-click="sendForm()"
								ng-disabled="(formSubmited && addAnswerForm.$invalid) || formSubmitSend"
								translate="ssTest.controls.save">
						</button>
						<button type="button" class="btn btn-sm" ng-click="resetForm()"
								translate="ssTest.controls.reset">
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
