<div class="container-fluid student-result" ng-controller="StudentResultsListCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<span translate="ssTest.components.studentResults.studentResults"></span> <span>{{additionTitle}}</span>
			</h3>
			<hr class="line">
		</div>
	</div>
	<div ng-if="!studentResults && !empty" class="entity loading">
		<span>Триває завантаження...</span>
	</div>
	<div class="emptyEntity" ng-if="empty">
		<span>Немає записів</span>
	</div>
	<div class="row" ng-if="studentResults">
		<div class="col-xs-12">
			<div class="panel-chart-bar">
				<horizontal-bar-chart data="chartData"></horizontal-bar-chart>
				<div class="row">
					<div class="all-result-info">
						<span translate="ssTest.components.studentResults.averageRating"></span> <strong>{{averageScore}}%</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel table-wrapper" ng-if="studentResults">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-12">
					<form class="form-inline" role="form">
						<div class="form-group">
							<select class="form-control" ng-model="studentResultQuery.subjectName">
								<option selected value="" translate="ssTest.components.studentResults.selectSubject"></option>
								<option ng-repeat="subject in subjects" value="{{subject}}">{{subject}}</option>
							</select>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<entity-table table-head="studentResultHead"
						table-body="studentResults"
						table-options="studentResultOptions"
						table-filter="studentResultQuery"></entity-table>
			</div>
		</div>
	</div>
</div>