<div class="container-fluid" ng-controller="SubjectsListCtrl">
	<div ng-if="!loaded" class="entity loading">
		<span>Триває завантаження...</span>
	</div>
	<div class="emptyEntity" ng-if="empty">
		<span>Немає записів</span>
		<a ui-sref="admin.addSubject" href="" class="btn btn-primary btn-md mybutton">
			<span class="glyphicon glyphicon-circle-arrow-up"></span>
			<span translate="ssTest.components.subjects.addSubject"></span>
		</a>
	</div>
	<div class="panel table-wrapper" ng-show="!empty && loaded">
		<div class="panel-heading">
			<div class="row">
			<div class="col-xs-12">
				<form class="form-inline table-api">
					<a ui-sref="admin.addSubject" href="" class="btn btn-primary btn-md mybutton">
						<span class="glyphicon glyphicon-circle-arrow-up"></span>
						<span translate="ssTest.components.subjects.addSubject"></span>
					</a>
					<div class="group">
						<input type="text" id="input" ng-model="subjectQuery.subject_name">
						<span class="bar"></span>
						<label for="input" translate="ssTest.components.subjects.searchBySubjects"
								ng-class="{'label-up': subjectQuery.subject_name.length > 0}">
						</label>
					</div>
					<table-versions
							cols="[subjectHead.length]"></table-versions>
				</form>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<entity-table
						table-head="subjectHead"
						table-body="subjects"
						table-options="subjectOptions"
						table-filter="subjectQuery"
						></entity-table>
			</div>
		</div>
	</div>
</div>