<div class="table-versions">
	<button class="btn btn-xs" ng-click="print()"
			tooltip="{{'ssTest.controls.printVersion' | translate}}">
		<img src="images/print.png">
	</button>
	<button class="btn btn-xs" ng-click="toPdf()"
			tooltip="{{'ssTest.controls.toPdf' | translate}}">
		<img src="images/pdf.png">
	</button>
</div>