.horizontal-bar-chart {
	background: #f5f5f5;
	height: 100%;
	.title {
		background: #4681ae;
		color: #fff;
		padding: 15px 20px;
		font-size: 105%;
		font-weight: bold;
		text-align: center;
		.text {
			text-decoration: underline;
			cursor: pointer;
		}
		.text:hover {
			text-decoration: none;
		}
		.ascending:after{
			font-size: 115%;
			content: ' \21e7';
		}
		.descending:after{
			font-size: 115%;
			content: ' \21e9';
		}
		a {
			cursor: pointer;
			font-size: 20px;
			color: #fff;
			display: block;
			float: left;
		}
	}
	.area {
		height: calc(100% - 51px);
		overflow: auto;
		padding: 0 20px 15px 20px;
		.item-bar {
			text-align: right;
			.legend {
				height: 24px;
				float: left;
				margin-top: 15px;
				padding-right: 15px;
			}
			.full {
				cursor: pointer;
			}
			.full:hover {
				border: 2px solid #bdbdbd;
			}
			.container-bar {
				height: 24px;
				border: 2px solid #e0e0e0;
				background: #fafafa;
				float: right;
				.bar {
					float: left;
					.rate {
						font-weight: bold;
						position: relative;
					}
				}
				.triangle {
					border-top: 5px solid transparent;
					border-left: 5px solid;
					border-bottom: 5px solid transparent;
					float: left;
					margin-top: 5px;
				}
			}
		}
	}
}
