pie-chart {
	.pie-chart-area {
		max-width: 350px;
		float: left;
	}
	.legend {
		float: left;
		font-size: 15px;
		margin: 15px 0 0 30px;
		th {
			text-align: center;
		}
		td {
			min-width: 100px;
			text-align: center;
			height: 40px;
			.circle {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				margin: auto;
				font-size: 12px;
				line-height: 30px;
			}
		}
	}
	@media (max-width: 730px) {
		.legend {
			margin-left: 0;
		}
	}
}