<div class="container-fluid" ng-controller="testsCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<i class="glyphicon glyphicon-list"></i>
				<span ng-if="!allTests" translate="ssTest.components.tests.title"
						translate-values="{name: additionTitle}"></span>
				<span ng-if="allTests" translate="ssTest.components.tests.label"></span>
			</h3>
			<hr class="line">
		</div>
	</div>
	<div ng-if="!loaded" class="entity loading">
		<span>Триває завантаження...</span>
	</div>
	<div class="emptyEntity" ng-if="empty">
		<span>Немає записів</span>
		<a ng-if="!allTests" ui-sref="admin.addTest({id: subjectId})"
				class="btn btn-primary btn-md">
			<span class="glyphicon glyphicon-circle-arrow-up"></span>
			<span translate="ssTest.components.tests.addButton"></span>
		</a>
	</div>
	<div class="panel table-wrapper" ng-show="!empty && loaded">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-12">
					<form class="form-inline table-api">
						<a ng-if="!allTests" ui-sref="admin.addTest({id: subjectId})"
								class="btn btn-primary btn-md">
							<span class="glyphicon glyphicon-circle-arrow-up"></span>
							<span translate="ssTest.components.tests.addButton"></span>
						</a>
						<a ng-if="!allTests" ui-sref="admin.schedule({id: subjectId})"
								class="btn btn-primary btn-md">
							<span class="glyphicon glyphicon glyphicon-list-alt"></span>
							<span translate="ssTest.components.testSchedule.label"></span>
						</a>
						<div class="group">
							<input type="text" id="input" ng-model="testQuery.test_name">
							<span class="bar"></span>
							<label for="input" translate="ssTest.components.tests.searchByTests"
									ng-class="{'label-up': testQuery.test_name.length > 0}">
							</label>
						</div>
						<table-versions
								cols="[testTitlesPdf.length, testAdditionsPdf.length]">
						</table-versions>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<entity-table
						table-head="testHead"
						table-body="tests"
						table-options="testOptions"
						table-filter="testQuery"
						></entity-table>
			</div>
		</div>
	</div>
</div>