<div class="panel">
	<div class="panel-heading" ng-if="!setOnly">
		<h4 class="title" translate="ssTest.calendar.title"></h4>
		<button tooltip="{{'ssTest.calendar.today' | translate}}"
				ng-click="calendar.change($event, 'today')">
			<img src="images/today.png">
		</button>
	</div>
	<div class="calendar">
		<div ng-if="dates" ng-include="'directives/calendar/dates.html'" class="dates"></div>
		<div ng-if="months" ng-include="'directives/calendar/months.html'" class="months"></div>
		<div ng-if="years" ng-include="'directives/calendar/years.html'" class="years"></div>
		<div ng-include="'directives/calendar/inform.html'"></div>
		<span class="zoom" calendar-animation show="calendar.showAnimation"
				methods="calendar.methods" data="calendar.data"></span>
		<div class="spinner-container" ng-if="calendar.showSpinner">
			<div class="spinner"></div>
		</div>
	</div>
</div>