custom-calendar {
	.panel {
		border: none;
		border-radius: 2px;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		.panel-heading {
			position: relative;
			border: none;
			background-color: #4681AE;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			.title {
				padding-left: 5px;
				font-size: 22px;
				color: #fff
			}
			button {
				position: absolute;
				right: 10px;
				top: 21px;
				background: none;
				border: none;
			}
		}
		.calendar {
			height: 310px;
			margin-top: 9px;
			padding: 0 9px 9px;
			position: relative;
			overflow: hidden;
			.dates td {
				button {
					cursor: text;
				}
				.set-only {
					border-radius: 50%;
					cursor: pointer;
				}
				.set-only.event {
					background-color: rgba(218, 135, 135, 0.55);
					transition: none;
					&:hover {
						transform: none;
						box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
					}
				}
			}
			table {
				width: 100%;
				table-layout: fixed;
				box-shadow: none;
				th, td {
					text-align: center;
				}
				th {
					padding: 7px 0;
					.move {
						color: #868686;
						background-color: #EBF6FF;
						border-radius: 50%;
						box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
						transition: all 0.3s ease-in-out;
						&:hover {
							transform: translateY(-3px);
							box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
						}
					}
				}
				.month {
					font-size: 15px;
					color: #868686;
					text-transform: uppercase;
					span {
						padding: 5px;
					}
				}
				.day {
					padding-top: 16px;
					font-size: 13px;
					color: #868686;
					text-transform: uppercase;
				}
				td {
					font-size: 15px;
					color: #333;
					button {
						line-height: 26px;
					}
				}
				.another-month {
					color: #c0c0c0;
				}
				button {
					padding: 5px 10px;
					border: none;
					background: transparent;
					text-transform: uppercase;
				}
				.today, .event {
					height: 32px;
					width: 32px;
					line-height: 24px;
					padding: 4px 4px;
					color: white;
					border-radius: 50%;
					box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
				}
				.today {
					background-color: #4681AE;
					font-weight: bold;
				}
				.event {
					cursor: pointer !important;
					background-color: #DA8787;
					transition: all 0.3s ease-in-out;
					&:hover {
						transform: translateY(-3px);
						box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
					}
				}
				.cell-month {
					padding: 13px 0;
				}
				.disabled {
					transition: none !important;
					opacity: 0.5;
					&:hover {
						transform: none !important;
						box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
					}
				}
			}
			.zoom {
				height: 300px;
				width: 300px;
				margin: -150px 0 0 -150px;
				position: absolute;
				border-radius: 50%;
				display: block;
				background: white;
				transform: scale(4);
			}
			.zoom.ng-hide-add {
				display:block !important;
				opacity: 1;
				transition: opacity 0.2s ease-in;
			}
			.zoom.ng-hide-add.ng-hide-add-active {
				opacity: 0;
			}
			.zoom.ng-hide-remove {
				display:block !important;
				transform: scale(0.1);
				transition: transform 0.4s ease-in;
			}
			.zoom.ng-hide-remove.ng-hide-remove-active {
				transform: scale(4);
			}
			/*.inform-wrapper {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}*/
			.spinner-container {
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -25px 0 0 -25px;
				height: 50px;
				width: 50px;
				background-color: white;
				border-radius: 2px;
				box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
			}
			.spinner {
				animation: spin 1.5s linear infinite;
				position: absolute;
				width: 50px;
				height: 50px;
				margin: -25px 0 0 -25px;
				left: 50%;
				top: 50%;
				border: 2px solid #1f94ed;
				border-radius: 50%;
				&:after {
					content: "";
					width: 85%;
					height: 85%;
					background: linear-gradient(45deg, white 0%, white 40%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0) 100%);
					position: absolute;
					top: 0;
					left: 0;
					transform: translate(-5%, -5%);
				}
			}
			@keyframes spin {
				0% {
					transform: scale(.7) rotate(0deg);
				}
				100% {
					transform: scale(.7) rotate(360deg);
				}
			}
		}
	}
}
.inform {
	//overflow: hidden;
	background-color: white;
	padding: 10px 32px;
	width: 400px;
	min-height: 413px;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3), 0 40px 77px 0 rgba(0, 0, 0, 0.3);
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	.inform-heading {
		padding: 13px 0;
		.inform-title {
			display: inline-block;
			color: #28323A;
			font-size: 22px;
		}
		.import {
			display: inline-block;
			button {
				padding: 2px;
				position: relative;
				top: -2px;
				border: none;
				background: none;
				border-radius: 50%;
				transition: 0.5s;
				&:hover {
					background-color: #E2E2E2;
					transition: 1s;
				}
				img {
					height: 26px;
				}
			}
			a {
				cursor: pointer;
			}
		}
	}
	.inform-table-wrapper {
		min-height: 303px;
		margin-bottom: 20px;
		.table-inform {
			margin: 0;
		}
		.table-inform.ng-hide-add {
			transition: all .4s cubic-bezier(.25,.8,.25,1);;
			opacity: 1;
		}
		.table-inform.ng-hide-add.ng-hide-add-active {
			opacity: 0;
		}
		.table-inform.ng-hide-remove {
			opacity: 0;
			transition: all .4s ease-in;
		}
		.table-inform.ng-hide-remove.ng-hide-remove-active {
			opacity: 1;
		}
	}
	td {
		padding: 15px 5px !important;
		text-align: right !important;
		vertical-align: middle !important;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
	.left {
		width: 130px;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: left !important;
	}
	.inform-pagination {
		min-height: 49px;
		.custom-pagination {
			margin-top: 0;
		}
	}
	.close-inform {
		position: absolute;
		right: 20px;
		top: 20px;
		padding: 3px;
		border-radius: 50%;
		background-color: #ADADAD;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&:hover {
			transform: translateY(-3px);
			box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		}
	}
}
.inform.ng-hide-add {
	transition: all .4s cubic-bezier(.25,.8,.25,1);;
	transform: translate(-50%, -50%) scale(1);
}
.inform.ng-hide-add.ng-hide-add-active {
	transform: translate(-50%, -50%) scale(0.05);
}
.inform.ng-hide-remove {
	transform: translate(-50%, -50%) scale(0.1);
	transition: all .4s ease-in;
}
.inform.ng-hide-remove.ng-hide-remove-active {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}