<table ng-controller="DatesCtrl">
	<thead>
	<tr>
		<th>
			<button class="move" ng-click="calendar.change($event, 'moveMonth', -1)"
					ng-disabled="checkingYear < calendar.minYear"
					ng-class="{'disabled': checkingYear < calendar.minYear}">&lt;</button>
		</th>
		<th colspan="5" class="month">
			<button ng-click="calendar.change($event, 'toMonths')">
				<span translate="{{ month }}"></span>
				<span>{{ calendar.year }}</span>
			</button>
		</th>
		<th>
			<button class="move" ng-click="calendar.change($event, 'moveMonth', 1)">&gt;</button>
		</th>
	</tr>
	<tr>
		<th class="day" ng-repeat="day in days track by $index" translate="{{ day }}"></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="week in weeks track by $index">
		<td ng-repeat="date in week track by $index"
				ng-class="{'another-month': date.anotherMonth}">
			<button ng-class="{'today': date.today, 'event': date.event, 'set-only': setOnly}"
					ng-click="((date.event && !setOnly) && getEventInfo($event, date.eventIndexes))
						|| (setOnly && chooseDate(date, calendar.year))">
				{{ date.date}}
			</button>
		</td>
	</tr>
	</tbody>
</table>