<div class="inform-wrapper" ng-controller="InformCtrl">
	<div class="inform" ng-show="calendar.informAnimation">
		<div class="inform-heading">
			<h4 class="inform-title" translate="ssTest.calendar.events.title">
			</h4>
			<div class="import" dropdown is-open="status.isopen">
				<button tooltip="{{'ssTest.calendar.export' | translate}}" dropdown-toggle>
					<img src="images/dots-vertical.png">
				</button>
				<ul class="dropdown-menu lang-dropdown" role="menu" aria-labelledby="single-button">
					<li>
						<a ng-click="importGoogleCalendar()" class="widgets-add-link">
							Google Calendar
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="inform-table-wrapper">
			<table class="table table-inform" ng-show="readyInform">
				<tr>
					<td class="left" translate="ssTest.calendar.events.subject"></td>
					<td>{{ event.subject_name }}</td>
				</tr>
				<tr>
					<td class="left" translate="ssTest.calendar.events.group"></td>
					<td>{{ event.group_name }}</td>
				</tr>
				<tr>
					<td class="left" translate="ssTest.calendar.events.tests"></td>
					<td>
						<span ng-repeat="test in event.tests track by $index">{{test}}<br></span>
					</td>
				</tr>
				<tr>
					<td class="left" translate="ssTest.calendar.events.date"></td>
					<td>{{ event.event_date }}</td>
				</tr>
				<tr>
					<td class="left" translate="ssTest.calendar.events.students"></td>
					<td>{{ event.students }}</td>
				</tr>
			</table>
		</div>
		<div ng-if="countEvents.length > 1" class="inform-pagination">
			<ul  class="custom-pagination">
				<li ng-repeat="index in countEvents track by $index">
					<button ng-click="getTestEvent(index)" class="index"
							ng-class="{'active': currentEvent === index}"
							ng-disabled="currentEvent === index">
						{{ $index + 1 }}
					</button>
				</li>
			</ul>
		</div>
		<span class="close-inform"
				ng-click="calendar.informAnimation = false"><img src="images/close.png"></span>
		<div class="spinner-container" ng-if="calendar.showInformSpinner">
			<div class="spinner"></div>
		</div>
	</div>
</div>