<table ng-controller="MonthsCtrl">
	<thead>
	<tr>
		<th>
			<button class="move" ng-click="calendar.change($event, 'moveYear', -1)"
					ng-disabled="calendar.year - 1 < calendar.minYear"
					ng-class="{'disabled': calendar.year - 1 < calendar.minYear}">&lt;</button>
		</th>
		<th colspan="2" class="month">
			<button ng-click="calendar.change($event, 'toYears')">{{ calendar.year }}</button>
		</th>
		<th>
			<button class="move" ng-click="calendar.change($event, 'moveYear', 1)">&gt;</button>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="quarter in months track by $index">
		<td class="cell-month" ng-repeat="month in quarter track by $index">
			<button translate="{{ month.title }}"
					ng-click="calendar.change($event, 'getMonth', month.index - 1)"></button>
		</td>
	</tr>
	</tbody>
</table>