<table ng-controller="YearsCtrl">
	<thead>
	<tr>
		<th>
			<button class="move" ng-click="calendar.change($event, 'moveYears', prevYears)"
					ng-disabled="prevYears <= calendar.minYear"
					ng-class="{'disabled': prevYears <= calendar.minYear}">&lt;
			</button>
		</th>
		<th colspan="2" class="month">
			<span>{{ firstYear + '-' + lastYear }}</span>
		</th>
		<th>
			<button class="move" ng-click="calendar.change($event, 'moveYears', nextYears)">&gt;
			</button>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="fourYears in years track by $index">
		<td class="cell-month" ng-repeat="year in fourYears track by $index"
				ng-class="{'another-month': year.anotherYear}">
			<button translate="{{ year.title }}"
					ng-click="calendar.change($event, 'getYear', year.title)"></button>
		</td>
	</tr>
	</tbody>
</table>