<div class="modal-header" ng-if="modalData.title">
	<h3 class="modal-title" translate="{{modalData.title}}"></h3>
</div>
<div class="modal-body" ng-if="modalData.log">
	<div ng-if="modalData.log.logMsg" translate="{{modalData.log.logMsg}}"
			translate-values="{{modalData.log.logValues}}"></div>
	<div ng-if="modalData.log.logHtml" ng-bind-html="modalData.log.logHtml"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="action()"
			translate="{{modalData.action.actionTxt || 'ssTest.controls.ok'}}"></button>
	<button ng-if="modalData.action" class="btn btn-default" ng-click="cancel()"
			translate="ssTest.controls.cancel"></button>
</div>