<div class="container-fluid" ng-controller="FacultiesListCtrl">
	<div ng-if="!loaded" class="entity loading">
		<span>Триває завантаження...</span>
	</div>
	<div class="emptyEntity" ng-if="empty">
		<span>Немає записів</span>
		<a href ui-sref="admin.addFaculty" class="btn btn-primary btn-md mybutton"> <span
				class="glyphicon glyphicon-circle-arrow-up"></span>
			<span translate="ssTest.components.faculties.addFaculty"></span>
		</a>
	</div>
	<div class="panel table-wrapper" ng-show="!empty && loaded">
		<div class="panel-heading">
			<div class="row">
			<div class="col-xs-12">
				<form class="form-inline table-api">
					<a href ui-sref="admin.addFaculty" class="btn btn-primary btn-md mybutton"> <span
							class="glyphicon glyphicon-circle-arrow-up"></span>
						<span translate="ssTest.components.faculties.addFaculty"></span>
					</a>
					<div class="group">
						<input type="text" id="input" ng-model="facultyQuery.faculty_name">
						<span class="bar"></span>
						<label for="input" translate="ssTest.components.faculties.searchByFaculties"
								ng-class="{'label-up': facultyQuery.faculty_name.length > 0}">
						</label>
					</div>
					<table-versions
							cols="[facultyHead.length]"></table-versions>
				</form>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<entity-table
						table-head="facultyHead"
						table-body="faculties"
						table-options="facultyOptions"
						table-filter="facultyQuery"
						></entity-table>
			</div>
		</div>
	</div>
</div>