@import "../../app.mixins";
.header-test {
	float: left;
}
.form-control {
	//box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}
.end-test-button {
	float: right;
}

.header-section {
	@include clearfix();
}

.userComponent {
	.tests-list-accordion {
		.panel-default{
			margin-bottom: 15px;
		}
		.panel-title a {
			background-color:#BBDEFB;
			color: inherit;
			font-size: 14px;
			text-decoration: none;
			display: block;
			height: 100%;
			outline: none;
			line-height: 20px;
			box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 5px 0 rgba(0, 0, 0, 0.14);
		}
		.panel-title a:hover {
			background: #90CAF9;
		}
		.panel-title a a {
			padding: 10px;

		}
		.panel-heading {
			padding: 0;
		}
		.general-list-table {
			margin-bottom: 0;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.18), 0 5px 10px 0 rgba(0, 0, 0, 0.18);
		}
		.panel-body {
			padding: 0;
		}
		.state-icon {
			float: right;
			font-size: 18px;
			margin: 20px 20px 20px 0;
		}
	}
}