<div class="container-fluid" ng-controller="UserTestCtrl">
	<div class="row control-block">
		<div class="col-xs-12">
			<form class="form-inline">
				<input type="text" class="search-query mysearch form-control"
						ng-model="query.subject_name"
						placeholder="{{'ssTest.components.subjects.searchBySubjects' | translate}}">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div accordion close-others="true" class="tests-list-accordion">
				<div accordion-group ng-init="status = {isOpen: false}" is-open="status.isOpen"
						ng-repeat="subject in subjects | filter:query:strict track by $index">
					<div accordion-heading>
						<span ng-if="!status.isOpen" class="glyphicon glyphicon-chevron-down state-icon"></span>
						<span ng-if="status.isOpen" class="glyphicon glyphicon-chevron-up state-icon"></span>
						<span class="state-icon">{{subject[0].eventDate}}</span>
						<a ng-click="getTests(subject[0].subject_id)">
							<strong>{{subject[0].subject_name}}</strong><br/>{{subject[0].subject_description}}
						</a>
					</div>
					<table entity-table
							class="table table-hover table-bordered table-responsive general-list-table test-table"
							table-head="testHead"
							table-body="tests"
							table-options="testOptions">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
