<div class="container-fluid" ng-controller="testParamCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<i class="glyphicon glyphicon-list-alt icon"></i>
				<span translate="ssTest.components.testDetails.title"
						translate-values="{name: additionTitle}"></span>
			</h3>
			<hr>
		</div>
	</div>
	<div ng-if="!loaded" class="entity loading">
		<span>Триває завантаження...</span>
	</div>
	<div class="emptyEntity" ng-if="empty">
		<span>Немає записів</span>
		<button ui-sref="admin.addTestDetail({id: testId})"
				class="btn btn-primary btn-md">
			<span class="glyphicon glyphicon-circle-arrow-up"></span>
			<span translate="ssTest.components.testDetails.addButton"></span>
		</button>
	</div>
	<div class="panel table-wrapper" ng-show="!empty && loaded">
		<div class="panel-heading">
			<div class="row control-block">
				<div class="col-xs-12">
					<form class="form-inline">
						<button ui-sref="admin.addTestDetail({id: testId})"
								class="btn btn-primary btn-md">
							<span class="glyphicon glyphicon-circle-arrow-up"></span>
							<span translate="ssTest.components.testDetails.addButton"></span>
						</button>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<entity-table table-head="testDetailsHead"
							  table-body="testDetails"
							  table-options="testDetailsOptions"
						></entity-table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4 col-sm-4">
			<div class="list-group panel table-wrapper">
				<h4 class="list-group-item active">
					<i class="glyphicon glyphicon-tasks"></i>
					<span translate="ssTest.components.testDetails.statistic"></span>
				</h4>
				<p class="list-group-item"><strong
						translate="ssTest.components.testDetails.questCount"></strong><span
						class="badge">{{countTasks}}
					</span></p>
				<p class="list-group-item"><strong
						translate="ssTest.components.testDetails.rateCount"></strong><span
						class="badge">{{countRates}}
					</span></p>
				<p class="list-group-item"><strong
						translate="ssTest.components.testDetails.levelCount"></strong><span
						class="badge">{{countLevels}}
					</span></p>
			</div>
		</div>
	</div>
</div>