<form name="widgetForm" class="add-form" ng-class="{'loading': formState.formSubmitSend}"
		ng-submit="widgetForm.$valid && save()" novalidate>
	<div class="modal-header">
		<h3 class="modal-title" translate="ssTest.components.installWidget.title"></h3>
	</div>
	<div class="modal-body" ng-if="widgetData.data" ng-include="">
		<ng-form name="widgetField" ng-repeat="(key, val) in widgetData.data">
			<div class="form-group" ng-class="{'has-error':(formState.formSubmited && widgetField.widgetInput.$invalid),
					'has-success': (formState.formSubmited && widgetField.widgetInput.$valid)}">
				<label for="{{'widget-input-' + $index}}" class="control-label"
						translate="{{'ssTest.' + key}}"></label> <input
					id="{{'widget-input-' + $index}}" type="text" class="form-control"
					ng-model="widgetData.data[key]" name="widgetInput" required/>

				<div class="alert alert-danger" role="alert"
						ng-show="formState.formSubmited && widgetField.widgetInput.$error.required"
						translate="ssTest.errors.required"></div>
			</div>
		</ng-form>
	</div>
	<div class="modal-footer">
		<button type="submit" ng-click="formState.formSubmited = true" class="btn btn-primary"
				ng-disabled="(formState.formSubmited && widgetForm.$invalid) || formState.formSubmitSend"
				translate="ssTest.controls.add"></button>
		<button type="button" class="btn btn-default" ng-click="cancel()"
				translate="ssTest.controls.cancel"></button>
	</div>
</form>