.tp-progressbar {
	position: relative;
	.bc1 {
		height: 5px;
		background: rgba(38, 126, 213, .3);
		width: 100%;
	}
	.progress {
		position: absolute;
		top: 0;
		height: 5px;
		background: rgba(38, 126, 213, .9);
		transition: 500ms;

	}
}