<div class="widget-title" translate="ssTest.components.widgets.widgetTests.testsListBySubject"
		translate-values="{name: subjectName}"></div>
<div class="widget-content" ng-class="{'loading': !loaded}">
	<div class="list-group widget-list">
		<a ng-if="tests" ui-sref="admin.questions({id: test.test_id})"
				class="list-group-item widget-item" ng-repeat="test in tests track by $index">
			<div class="info">
				<div class="info-list">
					<span>{{test.time_for_test}}</span> <span
						translate="ssTest.components.widgets.widgetTests.minutes">хв.</span><br/>
					<span translate="ssTest.components.widgets.widgetTests.tasks">завдань</span>
					<span>{{test.tasks}}</span>
				</div>
				<span class="list-group-item-heading item-title">{{test.test_name}}</span>
			</div>
		</a>
		<span ng-if="!tests" translate="ssTest.components.widgets.widgetTests.noTestsInSubject"></span>
	</div>
</div>