<form name="widgetForm" class="add-form" ng-class="{'loading': formState.formSubmitSend}"
		ng-submit="widgetForm.$valid && save()" novalidate>

	<div class="modal-header">
		<h3 class="modal-title" translate="{{'ssTest.components.installWidget.title' + (update ? 'Edit' : '')}}"></h3>
	</div>

	<div class="modal-body">
		<div class="form-group" ng-class="{'has-error':(formState.formSubmited && widgetForm.subjectsList.$invalid),
				'has-success': (formState.formSubmited && widgetForm.subjectsList.$valid)}">
			<label class="control-label" translate="ssTest.components.installWidget.subject"></label>
			<select class="form-control"
					ng-options="subject.subject_id as subject.subject_name for subject in subjects"
					ng-model="widget.data.subjectId" name="subjectsList" required>
				<option selected value=""
						translate="{{subjects ? 'ssTest.components.installWidget.selectSubject' : 'ssTest.components.installWidget.loading'}}"></option>
			</select>
			<div class="alert alert-danger" role="alert"
					ng-show="formState.formSubmited && widgetForm.subjectsList.$error.required"
					translate="ssTest.errors.required"></div>
		</div>
	</div>

	<div class="modal-footer">
		<button type="submit" ng-click="send()" class="btn btn-primary"
				ng-disabled="(formState.formSubmited && widgetForm.$invalid) || formState.formSubmitSend"
				translate="{{update ? 'ssTest.controls.save' : 'ssTest.controls.add'}}"></button>
		<button type="button" class="btn btn-default" ng-click="cancel()"
				translate="ssTest.controls.cancel"></button>
	</div>
</form>