<div class="widget-rating" ng-class="{'loading': !loaded}">
	<div ng-if="!chartData.chartMarks"
			translate="ssTest.components.widgets.widgetStudentsRating.noStudentsInGroup"
			translate-values="{name: groupName}"></div>
	<horizontal-bar-chart ng-if="chartData.chartMarks" data="chartData"></horizontal-bar-chart>
</div>