<div class="container-fluid result-detail" ng-controller="ResultDetailListCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<span translate="ssTest.components.resultDetail.detailedInformationsOfTheTest"></span>
				<span>{{additionTitle}}</span>
			</h3>
			<hr class="line">
		</div>
	</div>
	<div class="row"></div>
	<div ng-if="!loaded" class="entity loading">
		<span>Триває завантаження...</span>
	</div>
	<div class="panel table-wrapper border-result" ng-if="loaded">
		<div class="row">
			<div class="col-xs-12">
				<entity-table table-head="resultDetailHead" table-body="resultDetails"
						table-options="resultDetailOptions"></entity-table>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="all-result-info">
					<span translate="ssTest.components.resultDetail.totalScores"></span> <strong>{{rightPoints}}/{{allPoints}}
					({{rate}}%)</strong>
				</div>
			</div>
		</div>
		<div class="row wrapper-pie-chart-panel">
			<div class="col-xs-12 pie-chart-panel">
				<div class="pie-chart">
					<pie-chart ng-if="chartData" data="chartData"></pie-chart>
				</div>
			</div>
		</div>
	</div>
</div>