.border-result {
	padding-left: 2px;
}

.all-result-info {
	float: right;
	margin: 25px 80px;
	font-size: 17px;
}

.wrapper-pie-chart-panel {
	padding: 0 15px 0 13px;
	.pie-chart-panel {
		background: #f5f5f5;
		border-top: 1px #BDBDBD solid;
		margin-top: 15px;
		padding: 20px;
		.pie-chart {
			max-width: 630px;
			margin: 0 auto;
		}
		@media (max-width: 690px) {
			.pie-chart {
				max-width: 300px;
			}
		}
	}
}
