.admin-component {
	.navbar {
		margin-bottom: 0;
		border-radius: 0;
		border: 0;
		background: #28323a;
		.container-fluid .navbar-header a.navbar-brand {
			&:after {
				content: none;
			}
		}
		@media (max-width: 767px) {
			.active {
				background-color: #02578d;
				color: #90caf9;
			}
			.dropdown-menu {
				padding-top: 0;
			}
		}
		@media (min-width: 767px) {
			.active::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				border-bottom: 5px solid #bbdefb;
				opacity: 1;
				color: #90caf9;
			}
		}
		.brand {
			height: 42px;
			position: relative;
			bottom: 11px;
		}
		.navbar-toggle {
			position: relative;
			border: 1px solid white;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				border-bottom: 5px solid #bbdefb;
				opacity: 0;
				transition: all 500ms ease;
			}
			&:hover::after {
				opacity: 1;
				color: #90caf9;

			}
			&:hover {
				background-color: #28323a;
				color: #90caf9;
			}
			.icon-bar {
				background: white;
			}
		}
		a {
			padding-right: 13px;
			padding-left: 13px;
			position: relative;
			color: white;
			&:visited {
				background: none;
			}
			&:focus {
				background: none;
			}
			&:hover::after {
				opacity: 1;
				color: #90caf9;
			}
			&:hover {
				background-color: #28323a;
				color: #90caf9;
			}
			@media (max-width: 767px) {
				&:hover {
					background-color: #02578d;
					color: #90caf9;
				}
			}
			@media (min-width: 767px) {
				&:after {
					content: '';
					position: absolute;
					left: 0;
					width: 100%;
					opacity: 0;
					bottom: 0;
					border-bottom: 5px solid #bbdefb;
					transition: all 500ms ease;
				}
			}
		}
	}
	.breadcrumbs-wrapper {
		background-color: #f5f5f5;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
	.crop-area {
		background: #e4e4e4;
		overflow: hidden;
		width: 298px;
		height: 250px;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

	}
	.crop-area-result {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
	.line {
		margin-bottom: 6px;
	}
	.table-versions {
		float: right;
		.btn-xs {
			padding-top: 5px;
			background: none;
			box-shadow: none;
		}
	}
	.admin-register {
		padding: 0 20px;
		margin-bottom: 30px;
		.pswd-security {
			display: inline-block;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
			padding: 15px;
			margin: 25px;
		}
		.admin-label {
			font-size: 15px;
			font-weight: 100;
			padding-bottom: 2px;
		}
		.admin-input {
			border-color: #769C76;
		}
		.admin-addon {
			background-color: #FFF;
			border-color: #769C76;
		}
		.admin-last {
			margin-bottom: 31px;
		}
		.admin-submit, .admin-reset {
			width: 140px;
			height: 38px;
			margin: 0 5px 10px 0;
			color: #fff;
		}
		.admin-upload {
			width: 140px;
			height: 38px;
			margin: 0 5px 10px 0;
			color: #fff;
			background-color: #5dc3c9;
			border-color: #334d56;
			&:hover {
				background-color: #0a77b7;
			}
		}
		.admin-submit {
			background-color: #4a8f9a;
			border-color: #334d56;
			&:hover {
				background-color: #0a77b7;
			}
		}
		.reg-image {
			height: 200px;
			width: 200px;
		}

		/*.reg-attachment {
			width: 300px;
		}*/

		.reg-image-box {
			margin-top: 20px;
			max-height: 300px;
			overflow: hidden;
		}
		.image-download {
			position: absolute;
		}
		.admin-reset {
			background-color: #e4964e;
			border-color: #905909;
			&:hover {
				background-color: #fb9b4f;
			}
		}
		.admin-error {
			.admin-label {
				color: #cc3434;
			}
			.admin-input, .admin-addon {
				border-color: #cc3434;
			}
		}
		.admin-alert {
			margin: 5px 0 15px;
			padding: 7px;
			color: #c54f4d;
			background-color: #ffd5d5;
			border-color: #e8bec5;
		}
		.weak {
			color: #ffffff;
			background-color: #9e3232;
			border-color: #7d0d0d;
		}
		.medium {
			color: #ffffff;
			background-color: #ce6f2e;
			border-color: #9e4d14;
		}
		.strong {
			color: #ffffff;
			background-color: #3f883d;
			border-color: #15541f;
		}
		.buttons {
			text-align: center;
		}
	}
	.side-bar {
		.btn {
			height: 44px;
			width: 100%;
			margin-bottom: 15px;
			padding-left: 25px;
			text-align: left;
			color: white;
			background-color: #4681ae;
			border: none;
			border-radius: 2px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			text-transform: uppercase;
			letter-spacing: 0.5px;
			transition: all 0.3s ease-in-out;
			&:hover {
				transform: translateY(-3px);
				box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
			}
		}
	}
	.stat {
		margin-bottom: 15px;
		padding: 0 22px;
		overflow: hidden;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		.stat-heading {
			padding: 12px 0;
			.stat-title {
				color: #28323a;
				font-size: 22px;
			}
		}
		td {
			padding: 14px 0;
			vertical-align: middle;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
		}
		.labels {
			padding: 0;
			vertical-align: middle;
			text-align: center;
			.quantity {
				font-weight: normal;
				background: #4681ae;
				border-radius: 50%;
				box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
				min-width: 32px;
				display: inline-block;
				min-height: 30px;
				line-height: 26px;
				font-size: 13px;
				padding: 3px 10px;
			}
		}
	}
	.table-api {
		.form-group {
			width: 100%;
		}
	}
	//input animation
	.group {
		display: inline-block;
		position: relative;
		input {
			display: block;
			padding: 5px;
			width: 200px;
			border: none;
			border-bottom: 1px solid #bdbdbd;
			background-color: transparent;
			font-size: 16px;
			&:focus {
				outline: none;
			}
		}
		label {
			position: absolute;
			left: 5px;
			top: 10px;
			color: rgba(74, 74, 74, 0.64);
			font-size: 16px;
			font-weight: normal;
			cursor: text;
			transition: 0.2s ease all;
		}
		input:focus ~ label, .label-up {
			top: -15px;
			font-size: 14px;
			color: #4681ae;
		}
		.bar {
			display: block;
			position: relative;
			width: 200px;
			&:before, &:after {
				content: '';
				height: 2px;
				width: 0;
				bottom: 1px;
				position: absolute;
				background: #4681ae;
				transition: 0.2s ease all;
			}
			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}
		}
		input:focus ~ .bar:before, input:focus ~ .bar:after {
			width: 50%;
		}
	}
	.emptyEntity {
		font-size: 115%;
		a, button {
			margin-left: 15px;
		}
	}
	.entity.loading {
		text-align: center;
		margin-top: 50px;
		span {
			color: #9E9E9E;
			position: relative;
			top: 40px;
		}
	}
	.widget-wrap {
		.widget-content.loading {
			&:before {
				background: rgba(255, 255, 255, 1);
			}
		}
		.widget-title {
			background: #4681ae;
			color: #fff;
			padding: 15px 20px;
			font-size: 105%;
			font-weight: bold;
			text-align: center;
		}
		.widget-content {
			overflow: auto;
			height: calc(100% - 51px);
			.widget-list {
				margin: 0;
				.widget-item {
					padding: 5px 20px;
					border-left: none;
					border-right: none;
					border-radius: 0;
					min-height: 60px;
					img {
						float: left;
						margin-right: 15px;
						border: 2px solid #e0e0e0;
						border-radius: 50%;
					}
					.info {
						margin-top: 4px;
						.item-title {
							font-weight: 600;
						}
						.item-text {
							color: #757575;
							font-size: 90%;
						}
						.info-list {
							float: right;
							text-align: right;
							color: #757575;
						}
					}
				}
			}
		}
	}
}

@media print {
	.navbar, .panel-heading, .control-block, hr, custom-pagination {
		display: none;
	}
	.table {
		margin-top: 14px;
		.text-center, .last {
			display: none;
		}
	}
}