<div class="admin-component" ng-controller="AdminCtrl">
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a ui-sref=".home" class="navbar-brand">
					<img alt="Brand" src="images/logo_admin.png" class="brand">
				</a>
				<button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" collapse="navCollapsed">
				<ul class="nav navbar-nav left-navbar">
					<li ng-class="{active: isActive(['home'])}">
						<a ui-sref=".home">
							<span class="glyphicon glyphicon-home"></span>&nbsp;
							<span class="hidden-sm" translate="ssTest.menu.main"></span>
						</a>
					</li>
					<li ng-repeat="link in links track by $index"
							ng-class="{active: isActive(link.checkArr)}">
						<a ui-sref="{{ link.state }}" translate="{{ link.name }}"></a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right right-navbar">
					<li>
						<a href ng-click="exit()">
							<span class="glyphicon glyphicon-log-out"></span>&nbsp;
							<span class="hidden-sm" translate="ssTest.menu.exit"></span>
						</a>
					</li>
					<li lang-menu></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="breadcrumbs-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div breadcrumbs></div>
				</div>
			</div>
		</div>
	</div>
	<div ui-view class="change-view-animation"></div>
</div>