<div class="container-fluid" ng-controller="EditTestCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header" translate="ssTest.components.editTest.title"
					translate-values="{name: test.test_name}"></h3>
			<div class="edit-test-form">
				<form role="form" name="editTestForm" class="form-horizontal add-form add-test-form"
						ng-submit="editTestForm.$valid && editTest()" novalidate>

					<div class="form-group row"
							ng-class="{'has-error': (formSubmited && editTestForm.testName.$invalid),
									'has-success': (formSubmited && editTestForm.testName.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
									translate="ssTest.components.editTest.label"></label>
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control" name="testName"
									ng-model="test.test_name" ng-minlength=5 ng-maxlength=50
									required>

							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testName.$error.required"
									translate="ssTest.errors.required"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testName.$error.minlength"
									translate="ssTest.errors.minLength"
									translate-values="{count: 5}"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testName.$error.maxlength"
									translate="ssTest.errors.maxLength"
									translate-values="{count: 50}"></div>
						</div>
					</div>

					<div class="form-group row"
							ng-class="{'has-error': (formSubmited && editTestForm.testItem.$invalid),
									'has-success': (formSubmited && editTestForm.testItem.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
									translate="ssTest.components.editTest.additions.tasks"></label>
						</div>
						<div class="col-md-3">
							<input type="number" class="form-control" name="testItem" min="1"
									step="1" max="1000" ng-model="test.tasks" required>

							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testItem.$error.number"
									translate="ssTest.errors.number"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testItem.$error.required"
									translate="ssTest.errors.required"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testItem.$error.min"
									translate="ssTest.errors.minNumber"
									translate-values="{number: 1}"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testItem.$error.max"
									translate="ssTest.errors.maxNumber"
									translate-values="{number: 1000}"></div>
						</div>
					</div>

					<div class="form-group row"
							ng-class="{'has-error': (formSubmited && editTestForm.testTime.$invalid),
									'has-success': (formSubmited && editTestForm.testTime.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
									translate="ssTest.components.editTest.additions.duration"></label>
						</div>

						<div class="col-md-3">
							<input ng-model="test.time_for_test" type="number" class="form-control"
									name="testTime" min="1" max="300" required>

							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testTime.$error.required"
									translate="ssTest.errors.required"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testTime.$error.number"
									translate="ssTest.errors.number"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testTime.$error.min"
									translate="ssTest.errors.minNumber"
									translate-values="{number: 1}"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testTime.$error.max"
									translate="ssTest.errors.maxNumber"
									translate-values="{number: 300}"></div>
						</div>
					</div>

					<div class="form-group row"
							ng-class="{'has-error': (formSubmited && editTestForm.testStatus.$invalid),
									'has-success': (formSubmited && editTestForm.testStatus.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
									translate="ssTest.components.editTest.additions.status"></label>
						</div>

						<div class="col-md-3">
							<select class="form-control" ng-model="test.enabled" name="testStatus"
									required>
								<option value="1"
										translate="ssTest.components.tests.status.enabled"></option>
								<option value="0"
										translate="ssTest.components.tests.status.disabled"></option>
							</select>

							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testStatus.$error.required"
									translate="ssTest.errors.required"></div>
						</div>
					</div>

					<div class="form-group row"
							ng-class="{'has-error': (formSubmited && editTestForm.testTry.$invalid),
									'has-success': (formSubmited && editTestForm.testTry.$valid)}">
						<div class="col-xs-12 col-md-2">
							<label class="control-label"
									translate="ssTest.components.editTest.additions.attempts"></label>
						</div>

						<div class="col-md-3">
							<input ng-model="test.attempts" type="number" class="form-control"
									value="1" min="1" max="20" step="1" name="testTry" required>

							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testTry.$error.required"
									translate="ssTest.errors.required"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testTry.$error.number"
									translate="ssTest.errors.number"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testTry.$error.min"
									translate="ssTest.errors.minNumber"
									translate-values="{number: 1}"></div>
							<div class='alert alert-danger'
									ng-show="formSubmited && editTestForm.testTry.$error.max"
									translate="ssTest.errors.maxNumber"
									translate-values="{number: 20}"></div>
						</div>
					</div>

					<div class="form-actions row">
						<div class="col-xs-12 col-md-offset-2 col-md-10">
							<button type="submit" class="btn btn-primary btn-sm"
									ng-click="sendForm()"
									ng-disabled="editTestForm.$pristine&&editTestForm.$invalid || formSubmited && editTestForm.$invalid || formSubmitSend"
									translate="ssTest.controls.save"></button>
							<button type="button" class="btn btn-sm"
									translate="ssTest.controls.cancel"
									ui-sref="admin.tests({id: subjectId})">
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>