<div class="lang-menu" dropdown is-open="status.isopen">
	<a class="lang-menu-btn" id="single-button" dropdown-toggle ng-disabled="disabled"> <span
			class="caret"></span>&nbsp;<span class="glyphicon glyphicon-flag"></span> </a>
	<ul class="dropdown-menu lang-dropdown" role="menu" aria-labelledby="single-button">
		<li ng-repeat="lang in langs"><a ng-class="{active: currentLang==lang}"
				ng-click="changeLanguage(lang)"><img ng-src="images/icon_{{lang}}.gif" alt="icon">
			{{lang |
			uppercase}}</a></li>
	</ul>
</div>