<div class="container-fluid" ng-controller="StudentsListCtrl">
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<span class="glyphicon glyphicon-education"></span>
				<span ng-if="!allStudents" translate="ssTest.components.students.studentsOfGroup"
						translate-values="{name: additionTitle}"></span>
				<span ng-if="allStudents" translate="ssTest.components.students.label"></span>
			</h3>
			<hr class="line">
		</div>
	</div>
	<div ng-if="!loaded" class="entity loading">
		<span>Триває завантаження...</span>
	</div>
	<div class="emptyEntity" ng-if="empty">
		<span>Немає записів</span>
		<a ng-if="!allStudents" ui-sref="admin.registerUser({id: groupId})" href
				class="btn btn-primary btn-md mybutton">
			<span class="glyphicon glyphicon-plus"></span>
			<span translate="ssTest.components.students.addStudent"></span>
		</a>
	</div>
	<div class="panel table-wrapper" ng-show="!empty && loaded">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-12">
					<form class="form-inline table-api" role="form">
						<a ng-if="!allStudents" ui-sref="admin.registerUser({id: groupId})" href
								class="btn btn-primary btn-md mybutton">
							<span class="glyphicon glyphicon-plus"></span>
							<span translate="ssTest.components.students.addStudent"></span>
						</a>
						<div class="group">
							<input type="text" id="input" ng-model="studentQuery">
							<span class="bar"></span>
							<label for="input" ng-class="{'label-up': studentQuery.length > 0}"
									translate="ssTest.components.students.searchByStudents">
							</label>
						</div>
						<table-versions
								cols="[studentHead.length]"></table-versions>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<entity-table
						table-head="studentHead"
						table-body="students"
						table-options="studentOptions"
						table-filter="studentQuery"
						></entity-table>
			</div>
		</div>
	</div>
</div>