<div class="container-fluid" ng-controller="GroupsListCtrl">
    <div ng-if="!loaded" class="entity loading">
        <span>Триває завантаження...</span>
    </div>
    <div class="emptyEntity" ng-if="empty">
        <span>Немає записів</span>
        <a ui-sref="admin.addGroup" href="" type="button"
                class="btn btn-primary btn-md mybutton">
            <span class="glyphicon glyphicon-circle-arrow-up"></span>
            <span translate="ssTest.components.groups.addGroup"></span>
        </a>
    </div>
    <div class="panel table-wrapper" ng-show="!empty && loaded">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-inline table-api" role="form">
                        <div class="form-group">
                            <a ui-sref="admin.addGroup" href="" type="button"
                               class="btn btn-primary btn-md mybutton">
                                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                <span translate="ssTest.components.groups.addGroup"></span>
                            </a>
                            <select class="form-control" ng-model="groupQuery.specialityName">
                                <option selected value="" translate="ssTest.components.groups.selectSpeciality"></option>
                                <option ng-repeat="speciality in filterLists.specName"
                                        value="{{speciality}}">{{speciality}}</option>
                            </select>
                            <select class="form-control" ng-model="groupQuery.facultyName">
                                <option selected value="" translate="ssTest.components.groups.selectFaculty"></option>
                                <option ng-repeat="faculty in filterLists.facName"
                                        value="{{faculty}}">{{faculty}}</option>
                            </select>
                            <table-versions cols="[groupHead.length]"></table-versions>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <entity-table
                        table-head="groupHead"
                        table-body="groupsList"
                        table-options="groupOptions"
                        table-filter="groupQuery"
                        ></entity-table>
            </div>
        </div>
    </div>
</div>