html, body {
	height: 100%;
}
body {
	font-family: Helvetica;
}
#nav {
	background: #28323A;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
}
nav .navbar-toggle {
	border: 1px solid white;
}
nav .navbar-toggle span {
	background: white;
}
#nav a {
	color: white;
	padding-right: 13px;
	padding-left: 13px;
}
#nav a:visited {
	background: #28323A;
}
#nav a:hover {
	background: #02578D;
}
ul#nav-left {
	margin-left: 20px;
}
ul#nav-right {
	margin-right: 20px;
}
.main-container {
	height: 100%;
	padding: 50px 0 0;
}
div#container {
	min-height: 100%;
	background: #33424A url('../images/bg.png');
	background-size: cover;
	position: relative;
	overflow: hidden;
}
div#logo {
	min-height: 200px;
	height: 32%;
}
div#logo_cont {
	width: 370px;
	margin: 0 auto;
}
div#logo img {
	position: absolute;
	top: -20px;
	height: 244px;
}
div#init {
	min-height: 380px;
	height: 68%;
	position: relative;
	padding-bottom: 50px;
}
h1#title {
	text-align: center;
	top: 279px;
	font: 45px 'Open Sans';
	color: rgb(236, 229, 229);
	margin: 0 auto 30px;
	left: 71px;
	line-height: 79px;
	clear: both;
	text-shadow: 0 4px 16px rgb(27, 27, 27);
}
div#form {
	margin: 0 auto;
	width: 250px;
}
div#form input {
	height: 40px;
	width: 250px;
	background: rgb(228, 228, 228);
	font-weight: 100;
	font-size: 15px;
	box-shadow: 0 3px 14px rgb(45, 45, 45);
}
div#form:first-child {
	margin-bottom: 4px;
}
input#login {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
input#password {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
button#btn-log-in {
	width: 250px;
	height: 40px;
	margin-top: 10px;
	box-shadow: 0 3px 14px rgb(45, 45, 45);
}
div#copyright {
	position: absolute;
	bottom: 12px;
	color: white;
	width: 100%;
	text-align: center;
	text-shadow: 0 1px 4px rgb(23, 23, 23);
}
