<div class="container-fluid" ng-controller="SubjectsUserListCtrl">
	<div class="row">
		<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
			<div class="col-xs-12">
				<h3>
					<span class="glyphicon glyphicon-list-alt"></span> <span
						translate="ssTest.components.tests.enableTitle"></span>
				</h3>
				<hr class="line">
			</div>
			<div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
				<div ng-hide="tests"><h5 translate="ssTest.components.userTests.noData"></h5></div>
				<div ng-repeat="test in tests track by $index">
					<div class="user-available-tests" ui-sref="user.test({id: test.test_id})">
							<p>{{test.test_name
						}}</p></div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
				<div class="panel">
					<div class="calendar">
						<custom-calendar date="date"></custom-calendar>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>