<div class="container-fluid" ng-controller="SpecialitiesListCtrl">
	<div ng-if="!loaded" class="entity loading">
		<span>Триває завантаження...</span>
	</div>
	<div class="emptyEntity" ng-if="empty">
		<span>Немає записів</span>
		<a href ui-sref="admin.addSpeciality" class="btn btn-primary btn-md mybutton"> <span
				class="glyphicon glyphicon-circle-arrow-up"></span>
			<span translate="ssTest.components.specialities.addSpeciality"></span>
		</a>
	</div>
	<div class="panel table-wrapper" ng-show="!empty && loaded">
		<div class="panel-heading">
			<div class="row">
			<div class="col-xs-12">
				<form class="form-inline table-api">
					<a href ui-sref="admin.addSpeciality" class="btn btn-primary btn-md mybutton"> <span
							class="glyphicon glyphicon-circle-arrow-up"></span>
						<span translate="ssTest.components.specialities.addSpeciality"></span>
					</a>
					<div class="group">
						<input type="text" id="input" ng-model="specialityQuery.speciality_name">
						<span class="bar"></span>
						<label for="input"
								translate="ssTest.components.specialities.searchBySpecialities"
								ng-class="{'label-up': specialityQuery.speciality_name.length > 0}">
						</label>
					</div>
					<table-versions
							cols="[specialityHead.length]"></table-versions>
				</form>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<entity-table
						table-head="specialityHead"
						table-body="specialities"
						table-options="specialityOptions"
						table-filter="specialityQuery"
						></entity-table>
			</div>
		</div>
	</div>
</div>