.auth-component {
	height: 100%;
	.navbar {
		background: #28323A;
		box-shadow: 0 8px 29px 0 rgba(0, 0, 0, 0.3), 0 5px 10px 0 rgba(0, 0, 0, 0.12);
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 100;
		border-radius: 0;
		.navbar-toggle {
			border: 1px solid white;
			&:hover {
				background: #02578D;
			}
			.icon-bar {
				background: white;
			}
		}
		.left-navbar {
			margin-left: 20px;
			margin-right: 20px;
		}
		.right-navbar {
			margin-left: 20px;
			margin-right: 20px;
		}
		a {
			color: white;
			padding-right: 13px;
			padding-left: 13px;
			&:visited {
				background: #28323A;
			}
			&:hover {
				background: #02578D;
			}
			&:focus {
				background: #28323A;
			}
		}
	}
	.main-container {
		height: 100%;
		padding: 50px 0 0;
		.container-fluid {
			min-height: 100%;
			min-width: 100%;
			background: #33424A url('../images/bg.png');
			background-size: cover;
			position: relative;
			overflow: hidden;
			.logo {
				min-height: 200px;
				height: 32%;
				.logo-cont {
					padding-top: 30px;
					text-align: center;
					width: 163px;
					margin: 0 auto;
					h3 {
						margin: 0;
						font-family: "Open Sans";
						color: #8CBCCE;
						margin-top: -10px;
						text-shadow: 0 0 9px black;
					}
					/*img {
						position: absolute;
						top: 14px;
						height: 192px;
					}*/
				}
			}
			.init {
				min-height: 380px;
				height: 68%;
				position: relative;
				padding-bottom: 50px;
				.title {
					text-align: center;
					top: 279px;
					font: 40px 'Open Sans';
					color: rgb(236, 229, 229);
					margin: 0 auto 30px;
					left: 71px;
					line-height: 79px;
					clear: both;
					text-shadow: 0 4px 16px rgb(27, 27, 27);
				}
				.form {
					margin: 0 auto;
					width: 250px;
					label {
						position: relative;
					}
					input {
						height: 40px;
						width: 250px;
						background: rgb(228, 228, 228);
						font-weight: 100;
						font-size: 15px;
						box-shadow: 0 3px 14px rgb(45, 45, 45);
						&:focus {
							border-width: 2px;
						}
					}
					input.ng-invalid.ng-dirty {
						border: 2px solid #D9534F;
					}
					.login {
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}
					.password {
						border-top-left-radius: 0;
						border-top-right-radius: 0;
					}
					.span-login, .span-password, .span-submit {
						margin: 0;
						position: absolute;
						left: 257px;
						display: inline-block;
						width: 200px;
						color: #D9534F;
						font: 17px Helvetica, sans-serif;
					}
					.span-login {
						top: 12px;
					}
					.span-password {
						top: 10px;
					}
					.submit {
						position: relative;
						.btn-log-in {
							position: relative;
							width: 250px;
							height: 40px;
							margin-top: 10px;
							box-shadow: 0 3px 14px rgb(45, 45, 45);
							img {
								position: absolute;
							}
						}
						.span-submit {
							width: 220px;
							right: 0;
							top: 22px;
						}
					}
					&:first-child {
						margin-bottom: 4px;
					}

				}
			}
			.copyright {
				position: absolute;
				bottom: 12px;
				color: white;
				width: 100%;
				text-align: center;
				text-shadow: 0 1px 4px rgb(23, 23, 23);
			}
		}
	}
}