<div class="widget-title" translate="ssTest.components.widgets.widgetStudents.studentsListByGroup"
		translate-values="{name: groupName}"></div>
<div class="widget-content" ng-class="{'loading': !loaded}">
	<div class="list-group widget-list">
		<a ng-if="students" ui-sref="admin.studentResult({id: student.user_id})"
				class="list-group-item widget-item" ng-repeat="student in students track by $index">
			<img ng-if="student.photo" class="photo" ng-src="{{student.photo}}" width="50px" height="50px"
					alt="{{'ssTest.components.widgets.widgetStudents.studentPhoto' | translate}}"/>
			<img ng-if="!student.photo" class="photo" src="images/mr-bin.png" width="50px" height="50px"
					alt="{{'ssTest.components.widgets.widgetStudents.studentPhoto' | translate}}"/>

			<div class="info">
			<span class="list-group-item-heading item-title">{{student.student_surname}}
				{{student.student_name}} {{student.student_fname}}</span>
				<p class="list-group-item-text item-text">
					<span translate="ssTest.components.widgets.widgetStudents.gradeBook"></span>
					<span>{{student.gradebook_id}}</span>
				</p>
			</div>
		</a>
		<span ng-if="!students" translate="ssTest.components.widgets.widgetStudents.noStudentsInGroup"></span>
	</div>
</div>